{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if block.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ block.id }}-padding {
    padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ block.id }}-padding {
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = block.settings.collection.all_products_count

  if block.settings.collection.all_products_count > block.settings.products_to_show
    assign products_to_display = block.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = block.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if block.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if block.settings.enable_desktop_slider and products_to_display > block.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div class="color-{{ block.settings.color_scheme }} isolate gradient yas-collection-grid-wrapp w-100" id="shopify-block-{{ block.id }}">
  <div class="collection section-{{ block.id }}-padding{% if block.settings.full_width %} collection--full-width{% endif %}">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {%- if block.settings.title != blank -%}
        <h2 class="title {{ block.settings.heading_size }}">{{ block.settings.title | escape }}</h2>
      {%- endif -%}
      {%- if block.settings.description != blank or block.settings.show_description and block.settings.collection.description != empty -%}
        <div class="collection__description {{ block.settings.description_style }}">{%- if block.settings.show_description -%}{{ block.settings.collection.description }}{%- else -%}{{ block.settings.description }}{% endif %}</div>
      {%- endif -%}
    </div>

    {%- if block.settings.collection != blank -%}
      <div class="es-tab">
        {%- if block.settings.collection_2 != blank or block.settings.collection_3 != blank or block.settings.collection_4 != blank or block.settings.collection_5 != blank -%}
          <div class="es-tab--header">
            <a href="javascript:;" class="active" data-target="#esTabBoday-{{ block.settings.collection.id }}">{{ block.settings.collection_title }}</a>
            {%- if block.settings.collection_2 != blank -%}
              <a href="javascript:;" data-target="#esTabBoday-{{ block.settings.collection_2.id }}">{{ block.settings.collection_title_2 }}</a>
            {%- endif -%}
            {%- if block.settings.collection_3 != blank -%}
              <a href="javascript:;" data-target="#esTabBoday-{{ block.settings.collection_3.id }}">{{ block.settings.collection_title_3 }}</a>
            {%- endif %}
            {%- if block.settings.collection_4 != blank -%}
              <a href="javascript:;" data-target="#esTabBoday-{{ block.settings.collection_4.id }}">{{ block.settings.collection_title_4 }}</a>
            {%- endif -%}
            {%- if block.settings.collection_5 != blank -%}
              <a href="javascript:;" data-target="#esTabBoday-{{ block.settings.collection_5.id }}">{{ block.settings.collection_title_5 }}</a>
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="es-tab--body">
          <div class="es-tab--body-item active" id="esTabBoday-{{ block.settings.collection.id }}" data-collection-id="{{ block.settings.collection.id }}">
            {%- render 'es-featured-collection-item', block: block, products: block.settings.collection.products -%}
          </div>
          {%- if block.settings.collection_2 != blank -%}
            <div class="es-tab--body-item" id="esTabBoday-{{ block.settings.collection_2.id }}" data-collection-id="{{ block.settings.collection_2.id }}">
              {%- render 'es-featured-collection-item', block: block, products: block.settings.collection_2.products -%}
            </div>
          {%- endif -%}
          {%- if block.settings.collection_3 != blank -%}
            <div class="es-tab--body-item" id="esTabBoday-{{ block.settings.collection_3.id }}" data-collection-id="{{ block.settings.collection_3.id }}">
              {%- render 'es-featured-collection-item', block: block, products: block.settings.collection_3.products -%}
            </div>
          {%- endif -%}
          {%- if block.settings.collection_4 != blank -%}
            <div class="es-tab--body-item" id="esTabBoday-{{ block.settings.collection_4.id }}" data-collection-id="{{ block.settings.collection_4.id }}">
              {%- render 'es-featured-collection-item', block: block, products: block.settings.collection_4.products -%}
            </div>
          {%- endif -%}
          {%- if block.settings.collection_5 != blank -%}
            <div class="es-tab--body-item" id="esTabBoday-{{ block.settings.collection_5.id }}" data-collection-id="{{ block.settings.collection_5.id }}">
              {%- render 'es-featured-collection-item', block: block, products: block.settings.collection_5.products -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}

    {%- if block.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all">
        <a href="{{ block.settings.collection.url }}"
          class="{% if block.settings.view_all_style == 'link' %}link underlined-link{% elsif block.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: block.settings.collection.title }}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

<script>
  function changeImageColor(e){
    let wrapp = e.closest('.card-wrapper');
    let wrappId = wrapp.attr('id');
    let mediaImg = wrapp.find('.card__inner .media img');
    let slider = wrapp.find('.card__inner .swiper');
    let sliderColorVal =  e.attr('color-variant');
    let activeSliderProd = wrapp.find('.active_slider');
    mediaImg.attr('src', e.attr('image-variant'));

    let priceColor = e.attr('price-variant');
    wrapp.find('.price-item--regular .money').text(priceColor);

    let priceDisColor = e.attr('price-variantdis');
    if(priceDisColor.length > 3){
      wrapp.find('el.yas_newd_pric span').text(priceDisColor);
    }

    
    let wrappSize = wrapp.find('.card__content .card_yas_size');
    let countSizeVar = wrappSize.find('div').length;
    console.log(countSizeVar);
    if(countSizeVar > 0){
      wrappSize.find('.card_yas_size_color-otions_active').removeClass('card_yas_size_color-otions_active');
      wrappSize.find('.card_yas_size_color-'+sliderColorVal).addClass('card_yas_size_color-otions_active');
    }
    
    let curentSwiper = wrapp.find('.swiper.swiper-color_'+ sliderColorVal);

    let destroy = document.querySelector('#' + wrappId + ' .active_slider').swiper;

    if(destroy != null){
      destroy.destroy();
    }
    
    activeSliderProd.removeClass('active_slider');
    curentSwiper.addClass('active_slider');
    
    let swiper = new Swiper('#' + wrappId + ' .swiper-color_'+ sliderColorVal, {
      // Optional parameters
      loop: false,
      lazy: true,
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-color_' +sliderColorVal+ ' .swiper-button-next',
        prevEl: '.swiper-color_' +sliderColorVal+ ' .swiper-button-prev',
      },
    });    


   
    let wrappInfoId = wrapp.find('.card_yas_size_color-otions_active > span')[0];

    let var_url = wrappInfoId?.getAttribute('url-variant');
 
    if (var_url) {
      let mass_a = wrapp.find('a');
      mass_a.each(function(){
        console.log($(this))
        $(this).attr('href', var_url);
      })  
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    (() => {
      document.querySelectorAll("#shopify-block-{{ block.id }} .es-tab--body-item")?.forEach((element) => {
        const s = new Swiper(element.querySelector(`.es-swiper`), {
          slidesPerView: 1,
          spaceBetween: 10,
          navigation: {
            prevEl: element.querySelector(`.swiper-button-prev`),
            nextEl: element.querySelector(`.swiper-button-next`)
          },
          breakpoints: {
            320: {
              slidesPerView: 2,
              spaceBetween: 10
            },
            480: {
              slidesPerView: 3,
              spaceBetween: 15
            },
            991: {
              slidesPerView: 4,
              spaceBetween: 20
            }
          }
        })
      })

      document.querySelectorAll(".es-tab--header a")?.forEach(a => {
        a.addEventListener("click", function () {
          this.closest(".es-tab--header").querySelectorAll("a").forEach(e => {
            e.classList.remove("active");
          });
          document.querySelectorAll(".es-tab--body-item").forEach(item => {
            item.classList.remove("active");
          });

          this.classList.add("active");
          document.querySelector(this.dataset.target).classList.add("active");
        });
      });
    })();
  });
</script>