<div class="es-perceived-icons">
  <div class="es-perceived-icon">
    <div class="es-pi--icon">
      {%- if block.settings.icon_1 != blank -%}
        <img
          src="{{ block.settings.icon_1 | img_url: 'master' }}"
          width="{{ block.settings.icon_1.width }}"
          height="{{ block.settings.icon_1.height }}"
          alt="{{ block.settings.icon_1.alt }}"
        >
      {%- endif -%}
    </div>
    <div class="es-pi--text">
      <div class="es-pi--text-wrapper">{{ block.settings.icon_1_text }}</div>
    </div>
  </div>

  <div class="es-perceived-icon">
    <div class="es-pi--icon">
      {%- if block.settings.icon_2 != blank -%}
        <img
          src="{{ block.settings.icon_2 | img_url: 'master' }}"
          width="{{ block.settings.icon_2.width }}"
          height="{{ block.settings.icon_2.height }}"
          alt="{{ block.settings.icon_2.alt }}"
        >
      {%- endif -%}
    </div>
    <div class="es-pi--text">
      <div class="es-pi--text-wrapper">{{ block.settings.icon_2_text }}</div>
    </div>
  </div>

  <div class="es-perceived-icon">
    <div class="es-pi--icon">
      {%- if block.settings.icon_3 != blank -%}
        <img
          src="{{ block.settings.icon_3 | img_url: 'master' }}"
          width="{{ block.settings.icon_3.width }}"
          height="{{ block.settings.icon_3.height }}"
          alt="{{ block.settings.icon_3.alt }}"
        >
      {%- endif -%}
    </div>
    <div class="es-pi--text">
      <div class="es-pi--text-wrapper">{{ block.settings.icon_3_text }}</div>
    </div>
  </div>
</div>