<video
  class="video_not-yas {{ target }}-video"
  poster="{{ poster }}"
  autoplay
  loop
  muted=""
  defaultmuted=""
  playsinline
  {% if block.settings.preload %}
    preload="auto"
  {% endif %}
>
  <source src="{{ video_source }}" type="video/mp4">
</video>
{{ text_content }}
{%- if show_mute_button -%}
<button class="muteBtn" data-target="{{ target }}-video">
  <img src="https://cdn.shopify.com/s/files/1/0620/1648/7614/files/d1bb3df3-6f7e-4fc1-857a-d86e70ce18f6.png?v=1740779556" width="" height="40">
</button>
{%- endif -%}