
          <div class="slider__newsletter" >
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
                <svg class="my-svg show-in-mob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="163.011" height="82.467" viewBox="0 0 163.011 82.467">
                  <defs>
                    <clipPath id="clip-path">
                      <rect id="Rectangle_311" data-name="Rectangle 311" width="163.011" height="82.467" rx="41.233" fill="none"/>
                    </clipPath>
                  </defs>
                  <g id="Group_692" data-name="Group 692" clip-path="url(#clip-path)">
                    <path id="Path_251" data-name="Path 251" d="M52.492,243.418c.919-4.116-1.828-10.363-4.01-14-.9,1.4-2.688,7.055,1,11.521-4.372-2.779-11.541-3.415-12.906-3.277,4.294,4.716,11.388,7.9,15.92,5.756" transform="translate(-26.746 -167.78)" fill="#fff"/>
                    <path id="Path_252" data-name="Path 252" d="M31.616,220.807c1.563-3.587.134-10.14-1.23-13.728a9.77,9.77,0,0,0-1.051,11.1c-4.05-3.76-10.619-5.382-11.857-5.506,3.228,5.362,9.56,9.383,14.138,8.131" transform="translate(-12.782 -151.442)" fill="#fff"/>
                    <path id="Path_253" data-name="Path 253" d="M16.624,194.779c2.2-3.035,2.233-9.574,1.634-12.992A9.121,9.121,0,0,0,15.1,192.129a24.766,24.766,0,0,0-10.226-7.577c2.016,5.883,7.383,10.548,11.746,10.226" transform="translate(-3.567 -132.946)" fill="#fff"/>
                    <path id="Path_254" data-name="Path 254" d="M9.022,166.89c2.65-2.29,4.183-8.326,4.194-11.83a9.007,9.007,0,0,0-5.007,9.308A21.15,21.15,0,0,0,0,155.257c.8,6.208,5.215,11.143,9.022,11.633" transform="translate(0 -113.4)" fill="#fff"/>
                    <path id="Path_255" data-name="Path 255" d="M9.607,132.6c3.043-1.658,5.346-7.452,6-10.043-2.793.579-5.867,2.758-6.344,6.325-.815-3.5-4.19-7.672-5.455-8.852-.855,6.2,2.582,11.528,5.8,12.571" transform="translate(-2.69 -87.782)" fill="#fff"/>
                    <path id="Path_256" data-name="Path 256" d="M15.174,98.021c2.521-.637,6.667-4.239,8.445-7.844a8.379,8.379,0,0,0-8.167,5.917,16.919,16.919,0,0,0-2.994-10.832c-2.064,5.248-.183,11.039,2.716,12.759" transform="translate(-8.473 -62.355)" fill="#fff"/>
                    <path id="Path_257" data-name="Path 257" d="M27.4,68.263c2.421-.015,7.147-2.463,9.562-5.989a8.894,8.894,0,0,0-8.939,4.448,13.505,13.505,0,0,0-.907-10.567c-2.694,4.446-1.9,10.068.284,12.108" transform="translate(-18.58 -41.068)" fill="#fff"/>
                    <path id="Path_258" data-name="Path 258" d="M44.124,41.535c2.226.369,7.149-1.194,9.95-4.482a9.1,9.1,0,0,0-9.2,3.284A11.929,11.929,0,0,0,45.427,30.3c-3.2,3.97-2.834,9.3-1.3,11.238" transform="translate(-31.435 -22.157)" fill="#fff"/>
                    <path id="Path_259" data-name="Path 259" d="M64.163,17.4c1.785.554,6.759-.124,9.927-3.266a9.058,9.058,0,0,0-9.162,2.332,10.844,10.844,0,0,0,1.6-9.406c-3.481,3.453-3.51,8.528-2.368,10.34" transform="translate(-46.433 -5.161)" fill="#fff"/>
                    <path id="Path_260" data-name="Path 260" d="M73.37,250.36c-.608,1.493-1.268,7.767,3.069,11.6-5.133-2.1-12.337-1.266-13.483-.9,5.717,4.315,13.46,5.98,17.253,3-.07-4.642-3.726-10.048-6.838-13.7" transform="translate(-46.042 -183.096)" fill="#fff"/>
                    <path id="Path_261" data-name="Path 261" d="M84.155,6.974c3.71.215,6.453-3.557,7.473-6.974-3.933.415-8.019,3.407-7.473,6.974" transform="translate(-61.509)" fill="#fff"/>
                    <path id="Path_262" data-name="Path 262" d="M510.411,243.418c-.919-4.116,1.828-10.363,4.01-14,.9,1.4,2.688,7.055-1,11.521,4.372-2.779,11.541-3.415,12.906-3.277-4.293,4.716-11.388,7.9-15.92,5.756" transform="translate(-373.146 -167.78)" fill="#fff"/>
                    <path id="Path_263" data-name="Path 263" d="M534.775,220.807c-1.563-3.587-.134-10.14,1.23-13.728a9.77,9.77,0,0,1,1.051,11.1c4.049-3.76,10.619-5.382,11.857-5.506-3.228,5.362-9.56,9.383-14.138,8.131" transform="translate(-390.598 -151.442)" fill="#fff"/>
                    <path id="Path_264" data-name="Path 264" d="M552.782,194.779c-2.2-3.035-2.233-9.574-1.633-12.992a9.121,9.121,0,0,1,3.154,10.342,24.765,24.765,0,0,1,10.226-7.577c-2.017,5.883-7.383,10.548-11.747,10.226" transform="translate(-402.828 -132.946)" fill="#fff"/>
                    <path id="Path_265" data-name="Path 265" d="M561.733,166.89c-2.651-2.29-4.183-8.326-4.195-11.83a9.007,9.007,0,0,1,5.008,9.308,21.148,21.148,0,0,1,8.209-9.111c-.8,6.208-5.215,11.143-9.022,11.633" transform="translate(-407.744 -113.4)" fill="#fff"/>
                    <path id="Path_266" data-name="Path 266" d="M564.647,132.6c-3.043-1.658-5.346-7.452-6-10.043,2.793.579,5.867,2.758,6.344,6.325.815-3.5,4.19-7.672,5.455-8.852.855,6.2-2.582,11.528-5.8,12.571" transform="translate(-408.553 -87.782)" fill="#fff"/>
                    <path id="Path_267" data-name="Path 267" d="M558.8,98.021c-2.521-.637-6.667-4.239-8.445-7.844a8.379,8.379,0,0,1,8.167,5.917,16.919,16.919,0,0,1,2.994-10.832c2.064,5.248.183,11.039-2.716,12.759" transform="translate(-402.495 -62.355)" fill="#fff"/>
                    <path id="Path_268" data-name="Path 268" d="M547.886,68.263c-2.421-.015-7.147-2.463-9.562-5.989a8.894,8.894,0,0,1,8.939,4.448,13.505,13.505,0,0,1,.907-10.567c2.694,4.446,1.9,10.068-.284,12.108" transform="translate(-393.692 -41.068)" fill="#fff"/>
                    <path id="Path_269" data-name="Path 269" d="M532.417,41.535c-2.226.369-7.149-1.194-9.95-4.482a9.1,9.1,0,0,1,9.2,3.284,11.928,11.928,0,0,1-.556-10.041c3.2,3.97,2.834,9.3,1.3,11.238" transform="translate(-382.096 -22.157)" fill="#fff"/>
                    <path id="Path_270" data-name="Path 270" d="M513.721,17.4c-1.785.554-6.759-.124-9.927-3.266a9.059,9.059,0,0,1,9.162,2.332,10.843,10.843,0,0,1-1.6-9.406c3.481,3.453,3.51,8.528,2.368,10.34" transform="translate(-368.439 -5.161)" fill="#fff"/>
                    <path id="Path_271" data-name="Path 271" d="M486.4,250.36c.608,1.493,1.268,7.767-3.069,11.6,5.134-2.1,12.337-1.266,13.483-.9-5.717,4.315-13.46,5.98-17.253,3,.07-4.642,3.726-10.048,6.838-13.7" transform="translate(-350.718 -183.096)" fill="#fff"/>
                    <path id="Path_272" data-name="Path 272" d="M502.1,6.974c-3.71.215-6.453-3.557-7.473-6.974,3.933.415,8.019,3.407,7.473,6.974" transform="translate(-361.736)" fill="#fff"/>
                    <path id="Path_273" data-name="Path 273" d="M138.511,190.644h5.513v1.82h-3.506v1.9h3.2v1.766h-3.2v2.061h3.532v1.82h-5.54Z" transform="translate(-101.297 -139.424)" fill="#fff"/>
                    <path id="Path_274" data-name="Path 274" d="M168.278,200.012h-3.171v-9.367h3.171a4.684,4.684,0,1,1,0,9.367m-.053-7.48h-1.111v5.593h1.111a2.8,2.8,0,0,0,0-5.593" transform="translate(-120.748 -139.424)" fill="#fff"/>
                    <rect id="Rectangle_308" data-name="Rectangle 308" width="2.021" height="9.367" transform="translate(53.833 51.22)" fill="#fff"/>
                    <path id="Path_275" data-name="Path 275" d="M212.472,190.644h6.958v1.873h-2.462v7.493h-2.02v-7.493h-2.476Z" transform="translate(-155.387 -139.424)" fill="#fff"/>
                    <path id="Path_276" data-name="Path 276" d="M244.215,199.712a4.857,4.857,0,1,1,4.9-4.857,4.857,4.857,0,0,1-4.9,4.857m0-7.761a2.9,2.9,0,1,0,2.837,2.9,2.845,2.845,0,0,0-2.837-2.9" transform="translate(-175.02 -138.95)" fill="#fff"/>
                    <path id="Path_277" data-name="Path 277" d="M283.5,200.011H281.5v-9.367h3.118c2.02,0,3.426,1.084,3.426,3a2.814,2.814,0,0,1-1.927,2.7l2.582,3.667h-2.368l-2.3-3.426H283.5Zm0-5.085h1.137a1.251,1.251,0,0,0,1.392-1.244,1.234,1.234,0,0,0-1.392-1.231H283.5Z" transform="translate(-205.871 -139.424)" fill="#fff"/>
                    <path id="Path_278" data-name="Path 278" d="M310.6,193.409l.8-1.445h-.027a.894.894,0,0,1-.883-.9,1.059,1.059,0,0,1,1.084-1.07,1.047,1.047,0,0,1,1.1,1.07,2.092,2.092,0,0,1-.308,1.03l-.7,1.311Z" transform="translate(-227.071 -138.95)" fill="#fff"/>
                    <path id="Path_279" data-name="Path 279" d="M323.072,196.487a1.968,1.968,0,0,0,1.807,1.338c.656,0,1.2-.334,1.2-.937,0-.455-.308-.763-.977-1l-1.124-.4c-1.365-.5-2.235-1.325-2.235-2.676a2.813,2.813,0,0,1,3.064-2.81,3.443,3.443,0,0,1,3.184,2.02l-1.672.963a1.662,1.662,0,0,0-1.472-1.124c-.615,0-1.044.335-1.044.829,0,.442.334.709.91.923l1.218.468c1.5.562,2.221,1.418,2.221,2.676a3.044,3.044,0,0,1-3.305,2.957,3.644,3.644,0,0,1-3.506-2.3Z" transform="translate(-235.01 -138.95)" fill="#fff"/>
                    <path id="Path_280" data-name="Path 280" d="M366.716,190.644c2.034,0,3.439,1.1,3.439,3.024s-1.405,3.024-3.439,3.024h-1.178v3.319h-2.007v-9.367Zm-1.178,4.269h1.218a1.239,1.239,0,1,0,0-2.462h-1.218Z" transform="translate(-265.861 -139.424)" fill="#fff"/>
                    <rect id="Rectangle_309" data-name="Rectangle 309" width="2.021" height="9.367" transform="translate(105.578 51.22)" fill="#fff"/>
                    <path id="Path_281" data-name="Path 281" d="M411.058,190a4.65,4.65,0,0,1,2.382.669v2.128a3.717,3.717,0,0,0-2.315-.83,2.884,2.884,0,0,0,0,5.767,3.9,3.9,0,0,0,2.328-.8v2.128a4.85,4.85,0,0,1-2.409.656,4.712,4.712,0,0,1-4.83-4.857A4.8,4.8,0,0,1,411.058,190" transform="translate(-297.076 -138.95)" fill="#fff"/>
                    <path id="Path_282" data-name="Path 282" d="M441.006,194.351l3.158-3.707h2.409l-3.854,4.416,4.121,4.951h-2.529l-2.877-3.6-.428.482v3.118h-2.021v-9.367h2.021Z" transform="translate(-321.043 -139.424)" fill="#fff"/>
                    <rect id="Rectangle_310" data-name="Rectangle 310" width="88.316" height="0.537" transform="translate(37.348 46.353)" fill="#fff"/>
                    <path id="Path_283" data-name="Path 283" d="M317.124,103.27c.373-.574.733-1.124,1.089-1.677.574-.89,1.143-1.783,1.721-2.67a.328.328,0,0,1,.228-.134c.481-.012.962,0,1.443-.009.151,0,.214.054.2.2,0,.053,0,.107,0,.16q0,4.41,0,8.819c0,.37,0,.37-.38.37-.347,0-.7-.011-1.042,0-.2.009-.262-.067-.259-.261.009-.543,0-1.087,0-1.63v-4.83l-.063-.026-2.974,4.431-2.958-4.422-.061.015v6.718c-.526,0-1.013,0-1.5-.006-.05,0-.118-.084-.143-.143a.594.594,0,0,1-.009-.211q0-4.423,0-8.846c0-.258.049-.367.336-.349.408.027.819.013,1.229,0a.368.368,0,0,1,.366.2c.87,1.366,1.75,2.725,2.628,4.086.042.065.091.126.15.208" transform="translate(-228.479 -72.237)" fill="#fff"/>
                    <path id="Path_284" data-name="Path 284" d="M398.232,101.711v.318c0,2,0,4.008.006,6.011,0,.253-.059.343-.322.33-.425-.021-.853-.006-1.3-.006V98.818c.488,0,.974,0,1.46.005.056,0,.123.066.164.118q1.856,2.392,3.707,4.789.547.707,1.095,1.414c.042.055.074.117.111.175l.083-.047V98.836h1.642c.005.1.014.2.014.295,0,2.966,0,5.931.006,8.9,0,.26-.052.374-.336.343a4.331,4.331,0,0,0-.774,0,.5.5,0,0,1-.471-.229q-2.4-3.118-4.812-6.23c-.063-.081-.135-.154-.2-.231l-.065.032" transform="translate(-290.054 -72.268)" fill="#fff"/>
                    <path id="Path_285" data-name="Path 285" d="M263.376,108.406V98.874h7.05c0,.458.006.917-.01,1.375,0,.041-.145.109-.223.11-.623.009-1.247.005-1.87.005-1.006,0-2.013,0-3.019,0-.2,0-.283.045-.278.267.015.65.013,1.3,0,1.95,0,.211.062.273.272.272,1.434-.008,2.868,0,4.3,0,.053,0,.106.007.183.013v1.483h-4.753v1.279c0,.33.013.66,0,.988-.012.228.072.285.289.283,1.6-.008,3.206,0,4.81,0h.368c0,.482.006.925-.008,1.368,0,.051-.1.11-.164.144-.042.022-.1,0-.158,0h-6.787Z" transform="translate(-192.615 -72.31)" fill="#fff"/>
                    <path id="Path_286" data-name="Path 286" d="M226.53,102.747h4.556v-.329c0-1.114.005-2.228,0-3.341,0-.216.051-.3.281-.289.452.017.9.005,1.376.005v9.55H231.6c-.516,0-.516,0-.516-.526,0-1.078,0-2.156,0-3.234,0-.2-.052-.278-.267-.276q-2.018.013-4.036,0c-.225,0-.263.085-.262.282.007,1.158,0,2.316.008,3.475,0,.219-.059.294-.285.286-.451-.017-.9-.005-1.373-.005V98.814h1.655Z" transform="translate(-164.458 -72.246)" fill="#fff"/>
                    <path id="Path_287" data-name="Path 287" d="M480.6,108.172c-.58,0-1.12.007-1.659-.009-.062,0-.144-.116-.178-.2-.25-.58-.5-1.159-.729-1.748a.472.472,0,0,0-.524-.36c-1.282.019-2.564.014-3.847,0a.393.393,0,0,0-.429.3c-.244.611-.506,1.215-.772,1.816-.036.081-.136.188-.209.19-.506.017-1.013.009-1.56.009a2.439,2.439,0,0,1,.074-.241q1.291-2.958,2.585-5.915c.47-1.075.944-2.149,1.406-3.228.069-.161.139-.24.326-.233.382.015.766-.006,1.148.012a.344.344,0,0,1,.254.16c.788,1.781,1.564,3.566,2.344,5.351q.827,1.895,1.655,3.79c.038.087.067.177.114.3m-4.986-7.6L474,104.349h3.25l-1.635-3.778" transform="translate(-344.236 -72.077)" fill="#fff"/>
                    <path id="Path_288" data-name="Path 288" d="M363.4,108.174c-.569,0-1.108.005-1.647-.008-.059,0-.138-.1-.169-.171-.274-.628-.547-1.256-.8-1.891a.321.321,0,0,0-.352-.239q-1.99.012-3.981,0a.358.358,0,0,0-.4.262c-.275.685-.571,1.361-.86,2.04h-1.7c.1-.255.192-.493.293-.726q1-2.286,2-4.571c.6-1.376,1.21-2.751,1.809-4.129a.255.255,0,0,1,.278-.183c.391.009.784.011,1.175,0a.254.254,0,0,1,.273.19q1.738,4,3.483,8c.174.4.353.8.527,1.2.027.062.041.13.073.232m-3.344-3.817-1.606-3.712-.07.022-1.582,3.689Z" transform="translate(-258.515 -72.079)" fill="#fff"/>
                    <path id="Path_289" data-name="Path 289" d="M435.994,98.863h1.661c.006.11.015.214.016.317,0,1.7,0,3.4,0,5.105a2.764,2.764,0,0,0,.713,2.063,2.293,2.293,0,0,0,.419.325,2.374,2.374,0,0,0,3.632-1.781c.021-.221.031-.444.031-.667q0-2.512,0-5.025v-.333h1.66a.9.9,0,0,1,.019.132c0,1.88.006,3.76-.014,5.639a4.268,4.268,0,0,1-.584,2.168,3.384,3.384,0,0,1-2.319,1.609,5.313,5.313,0,0,1-2.641-.075,3.435,3.435,0,0,1-2.5-2.9,6.238,6.238,0,0,1-.089-1.116c-.009-1.7,0-3.4,0-5.105Z" transform="translate(-318.854 -72.301)" fill="#fff"/>
                    <path id="Path_290" data-name="Path 290" d="M197.312,98.871c0,.478,0,.939,0,1.4,0,.189-.145.146-.251.147-.82,0-1.639.013-2.459-.005-.272-.006-.343.071-.342.342.011,2.423.006,4.846.006,7.269v.361h-1.673v-7.962h-3.006V98.871Z" transform="translate(-138.651 -72.307)" fill="#fff"/>
                    <path id="Path_291" data-name="Path 291" d="M513.75,98.869h1.661v7.986h5.009c0,.491,0,.959-.006,1.426,0,.041-.082.1-.136.117a.732.732,0,0,1-.212.006H513.75Z" transform="translate(-375.721 -72.306)" fill="#fff"/>
                    <path id="Path_292" data-name="Path 292" d="M93.284,76.334h10.45c.384,0,.384,0,.384.373q0,10.477,0,20.954c0,.361,0,.362-.369.362H82.769c-.37,0-.37,0-.37-.359V76.682c0-.347,0-.348.354-.348h10.53M84.014,87.17v8.872c0,.391,0,.392.4.392h17.717c.4,0,.406,0,.406-.4q0-8.858,0-17.717c0-.381-.014-.395-.386-.4H84.378c-.363,0-.364,0-.364.376V87.17" transform="translate(-60.261 -55.825)" fill="#fff"/>
                    <path id="Path_293" data-name="Path 293" d="M107.664,101.293c.219-.327.413-.611.6-.9.92-1.408,1.836-2.819,2.764-4.221a.46.46,0,0,1,.326-.164c.525-.017,1.051,0,1.577-.012.226-.005.286.08.286.3-.007,1.622,0,3.243,0,4.865q0,2.793,0,5.586c0,.375,0,.376-.387.376-.419,0-.838-.011-1.256,0-.235.008-.3-.072-.3-.307.008-2.432,0-4.865,0-7.3v-.317l-.082-.041-3.573,5.234-3.538-5.2-.085.03c-.009.109-.026.218-.026.326q0,3.595,0,7.19c0,.376,0,.377-.386.377h-1.149c-.357,0-.357,0-.357-.351q0-3.5,0-7c0-1.158,0-2.316,0-3.475,0-.218.061-.3.286-.294.516.013,1.034.011,1.55,0a.427.427,0,0,1,.411.225q1.565,2.406,3.144,4.8c.048.073.107.139.2.266" transform="translate(-74.646 -70.206)" fill="#fff"/>
                  </g>
                </svg>
              {%- endif -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="YOUR BEST EMAIL"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    YOUR BEST EMAIL
                  </label>
                 
                </div>
                <div class="submit-w-text">
                 <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    JOIN THE RE-INVENTION
                  </button>
                </div>
                <div class="footer-text">
                  {%- if section.settings.newsletter_heading_sub != blank -%}
                    {{ section.settings.newsletter_heading_sub}}
                  {%- endif -%}
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
              {% comment %} <img src="https://cdn.shopify.com/s/files/1/0620/1648/7614/files/image_footer_sh.jpg?v=1716321954" class="slide_fot_dopimg" alt=""> {% endcomment %}
            {%- endform -%}
            <div class="footer-block-social">

          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  <svg style="fill: white;" xmlns="http://www.w3.org/2000/svg" width="42.614" height="42.354" viewBox="0 0 42.614 42.354">
                    <path  d="M42.614,21.828a21.309,21.309,0,0,0-39.3-11.42A20.967,20.967,0,0,0,0,21.828,21.312,21.312,0,0,0,17.978,42.876V27.987h-5.41V21.828h5.41V17.134c0-5.34,3.181-8.29,8.048-8.29a32.753,32.753,0,0,1,4.77.416V14.5H28.108c-2.647,0-3.472,1.642-3.472,3.327v4h5.909L29.6,27.987H24.636V42.876A21.312,21.312,0,0,0,42.614,21.828" transform="translate(0 -0.521)"/>
                  </svg>

                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  <svg style="fill: white;" xmlns="http://www.w3.org/2000/svg" width="42.613" height="42.684" viewBox="0 0 42.613 42.684">
                    <path d="M188.571,0A21.331,21.331,0,0,0,180.8,41.192a20.531,20.531,0,0,1,.07-6.125c.386-1.667,2.492-10.6,2.492-10.6a7.766,7.766,0,0,1-.632-3.159c0-2.966,1.72-5.178,3.861-5.178,1.825,0,2.7,1.369,2.7,3,0,1.825-1.158,4.563-1.773,7.108a3.1,3.1,0,0,0,3.159,3.861c3.791,0,6.7-4,6.7-9.758,0-5.107-3.668-8.67-8.916-8.67a9.229,9.229,0,0,0-9.635,9.249,8.322,8.322,0,0,0,1.58,4.861.634.634,0,0,1,.14.614c-.158.667-.527,2.124-.6,2.422-.088.386-.316.474-.72.281-2.668-1.246-4.335-5.125-4.335-8.266,0-6.722,4.879-12.9,14.093-12.9,7.389,0,13.146,5.265,13.146,12.321,0,7.354-4.634,13.268-11.057,13.268a5.666,5.666,0,0,1-4.879-2.457l-1.334,5.072a23.225,23.225,0,0,1-2.65,5.6A21.343,21.343,0,1,0,188.571,0" transform="translate(-167.247)"/>
                  </svg>
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  <svg style="fill: white;" xmlns="http://www.w3.org/2000/svg" width="42.614" height="42.613" viewBox="0 0 42.614 42.613">
                    <path d="M354.608,13.5a4.442,4.442,0,0,0-2.546-2.546,7.424,7.424,0,0,0-2.491-.462c-1.414-.065-1.839-.078-5.421-.078s-4.006.014-5.421.078a7.424,7.424,0,0,0-2.491.462,4.442,4.442,0,0,0-2.546,2.546A7.422,7.422,0,0,0,333.23,16c-.064,1.414-.078,1.839-.078,5.421s.014,4.006.078,5.421a7.422,7.422,0,0,0,.462,2.491,4.443,4.443,0,0,0,2.546,2.546,7.422,7.422,0,0,0,2.491.462c1.414.064,1.839.078,5.421.078s4.007-.014,5.421-.078a7.422,7.422,0,0,0,2.491-.462,4.442,4.442,0,0,0,2.546-2.546,7.424,7.424,0,0,0,.462-2.491c.065-1.415.078-1.839.078-5.421s-.014-4.006-.078-5.421a7.424,7.424,0,0,0-.462-2.491m-10.458,14.8a6.889,6.889,0,1,1,6.889-6.889,6.889,6.889,0,0,1-6.889,6.889m7.161-12.44a1.61,1.61,0,1,1,1.61-1.61,1.61,1.61,0,0,1-1.61,1.61m-2.689,5.551a4.472,4.472,0,1,1-4.472-4.472,4.472,4.472,0,0,1,4.472,4.472M344.15.11a21.307,21.307,0,1,0,21.307,21.307A21.307,21.307,0,0,0,344.15.11m13.335,26.838a9.846,9.846,0,0,1-.623,3.256,6.862,6.862,0,0,1-3.924,3.924,9.85,9.85,0,0,1-3.257.624c-1.431.065-1.888.08-5.531.08s-4.1-.015-5.531-.08a9.846,9.846,0,0,1-3.256-.624,6.859,6.859,0,0,1-3.924-3.924,9.846,9.846,0,0,1-.624-3.256c-.065-1.431-.081-1.888-.081-5.531s.016-4.1.081-5.531a9.849,9.849,0,0,1,.624-3.257,6.859,6.859,0,0,1,3.924-3.924,9.846,9.846,0,0,1,3.256-.623C340.049,8.017,340.506,8,344.15,8s4.1.015,5.531.081a9.851,9.851,0,0,1,3.257.623,6.862,6.862,0,0,1,3.924,3.924,9.85,9.85,0,0,1,.623,3.257c.065,1.431.081,1.888.081,5.531s-.015,4.1-.081,5.531" transform="translate(-322.843 -0.11)"/>
                  </svg>
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  <svg style="fill: white;" xmlns="http://www.w3.org/2000/svg" width="42.614" height="42.614" viewBox="0 0 42.614 42.614">
                    <path d="M516.939,21.935a21.307,21.307,0,1,0,21.307,21.307,21.307,21.307,0,0,0-21.307-21.307M530.55,50.08a3.557,3.557,0,0,1-2.512,2.511c-2.215.594-11.1.594-11.1.594s-8.884,0-11.1-.594a3.557,3.557,0,0,1-2.512-2.511,36.965,36.965,0,0,1-.594-6.838,36.96,36.96,0,0,1,.594-6.838,3.557,3.557,0,0,1,2.512-2.512c2.215-.594,11.1-.594,11.1-.594s8.884,0,11.1.594A3.557,3.557,0,0,1,530.55,36.4a36.96,36.96,0,0,1,.594,6.838,36.965,36.965,0,0,1-.594,6.838M514.1,47.5V38.98l7.381,4.261Z" transform="translate(-495.632 -21.935)"/>
                  </svg>
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>

      </div>
  </div>
  