{%- if product.metafields.custom.productvideobg != blank or section.settings.btn_link != blank or product.metafields.custom.productvideo != blank -%}
  <style>
    .mfp-fade.mfp-bg {
      opacity: 0;
      -webkit-transition: all 0.15s ease-out; 
      -moz-transition: all 0.15s ease-out; 
      transition: all 0.15s ease-out;
    }
    .mfp-fade.mfp-bg.mfp-ready {
      opacity: 0.8;
    }
    .mfp-fade.mfp-bg.mfp-removing {
      opacity: 0;
    }
    
    .mfp-fade.mfp-wrap .mfp-content {
      opacity: 0;
      -webkit-transition: all 0.15s ease-out; 
      -moz-transition: all 0.15s ease-out; 
      transition: all 0.15s ease-out;
    }
    .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
      opacity: 1;
    }
    .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
      opacity: 0;
    }
    .mfp-bg.mfp-ready{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1042;
      overflow: hidden;
      position: fixed;
      background: #0b0b0b;
      opacity: .8;
      display: block;
    }
    .white-popup-block{
      max-width: 60%;
      height: auto;
      margin: 0 auto;
      position: relative;
    }
    .white-popup-block video{
      width: 100%;
    }
    .mfp-close-btn-in .mfp-close {
      color: #fff;
      right: -44px;
      top: -40px;
      font-size: 44px;
    }

    #shopify-section-{{section.id}} a.second_a-yas{
      letter-spacing: 3px;
      color: #EDBA44;
      border: 3px solid #EDBA44;
      background: transparent;
      font-family: CentraNo2-Extrabold, sans-serif !important;
      font-style: normal;
      font-size: 20px;
      font-weight: 900;
      display: inline-flex;
      align-items: center;
      padding: 0 20px;
      margin: 15px auto 0px;
      transition: all 0.3s ease;
      line-height: normal;
      position: absolute;
      width: auto;
      height: 50px;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      
    }
    #shopify-section-{{section.id}} a.second_a-yas:hover{
      text-decoration: none;
      background-color: #EDBA44;
      color: #000;
    }
    #shopify-section-{{section.id}} a.second_a-yas svg{
      margin-left: 25px;
    }
    #shopify-section-{{section.id}} a.second_a-yas path{
      transition: all 0.3s ease;
      fill: #EDBA44;
    }
    #shopify-section-{{section.id}} a.second_a-yas:hover path{
      fill: #000;
    }
    @media (max-width: 989px) {
      #shopify-section-{{section.id}} a.second_a-yas{
        font-size: 14px;
        letter-spacing: 2.1px;
        padding: 0 10px;
        min-width: 250px;
        height: 36px;
        top: 60%;
        white-space: nowrap;
        background-color: #EDBA44;
        color: #000;
      }
      #shopify-section-{{section.id}} a.second_a-yas:hover{
        background-color: transparent;
        color: #EDBA44;
      }
      #shopify-section-{{section.id}} a.second_a-yas path{
        transition: all 0.3s ease;
        fill: #000;
      }
      #shopify-section-{{section.id}} a.second_a-yas:hover path{
        fill: #EDBA44;
      }
      #shopify-section-{{section.id}} a.second_a-yas svg{
        margin-left: 10px;
      }
    }
  </style>

  {% if product.metafields.custom.productvideo != blank %}
    {% assign video_banner = product.metafields.custom.productvideo %}
    {% assign video_domen = product.metafields.custom.productvideo | replace: 'https://', '' | split: '/' | first %}
  {% else %}
    {% if section.settings.btn_link != blank %}
    {% assign video_banner = section.settings.btn_lin %}
    {% assign video_domen = section.settings.btn_link | replace: 'https://', '' | split: '/' | first %}
    {% endif %}
  {% endif %}
    
  {% capture chek_url_video %}{% if video_domen == 'youtu.be' or video_domen == 'vimeo.com' %}popup-frame{% else %}popup-defolt{% endif %}{% endcapture %}

  {% capture iframe_video_chek %}{% if chek_url_video == 'popup-frame' %}{{ video_banner }}{% else %}#{{ section.id }}-popup{% endif %}{% endcapture %}

  <style>
    {% if product.metafields.custom.productimgvideobg  %}
      #shopify-section-{{section.id}} .custom-product-video-wrapper {
        background: url({{ product.metafields.custom.productimgvideobg  |img_url: 'x2000' }});
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      @media (max-width: 767px) {
        .custom-product-video-wrapper {
          background: url({{ product.metafields.custom.productimgvideobg  |img_url: 'x800' }});
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    {% endif %}

    #shopify-section-{{section.id}} .custom-product-video-wrapper:before{
      width: 100%;height: 100%;position: absolute;
      {% if section.settings.overlay_show %}
        {% if section.settings.overlay_opacity > 9 %}
          {% assign prepend_zeero = '0.' %}
        {% else %}
          {% assign prepend_zeero = '0.0' %}
        {% endif %}
        content: "";
        background-color: rgba(0,0,0, {{section.settings.overlay_opacity | prepend: prepend_zeero }});
        opacity: 1;
      {% else %}
        content: none !important;
      {% endif %}  
    }
  </style>


  <div class="custom-product-video-wrapper">
  
    <video class="video_not-yas" id="video-yas-konch" poster="" autoplay="autoplay" loop="loop" muted="" defaultmuted="" playsinline="">
      {% if product.metafields.custom.productvideobg != blank and product.metafields.custom.productvideobg != '' %}
      <source src="{{ product.metafields.custom.productvideobg }}" type="video/mp4">
      {% else %}
        
      {% endif %}
    </video>
    
    {% if product.metafields.custom.video_bg_title != blank %}
      <h2 class="product_video_title_info">{{ product.metafields.custom.video_bg_title }}</h2>
    {% else %}
      <h2 class="product_video_title_info">{{ section.settings.title }}</h2>
    {% endif %}

    {% if product.metafields.custom.video_bg_description != blank %}
      <p class="product_video_detail_info">{{ product.metafields.custom.video_bg_description }}</p>
    {% else %}
      <p class="product_video_detail_info">{{ section.settings.title }}</p>
    {% endif %}
    
    
    {% if section.settings.btn_link != blank or product.metafields.custom.productvideo != blank %}
      <a href="{{ iframe_video_chek }}" class="second_a-yas {{ chek_url_video | strip }} custm-play-btn-sec" >{{ section.settings.btn_text }}
        <svg xmlns="http://www.w3.org/2000/svg" width="18.903" height="21.829" viewBox="0 0 18.903 21.829">
          <path id="video_triag" data-name="video_triag" d="M683.825,322.925l-18.9-10.914v21.829Z" transform="translate(-664.921 -312.01)" fill="#f7b717"/>
        </svg>  
        </a>
            
    {% endif %}
  </div>

  {% if section.settings.btn_link != blank or product.metafields.custom.productvideo != blank %}
    <div id="{{ section.id }}-popup" class="mfp-hide white-popup-block">
      <video  loop controls controlslist="nodownload" preload="metadata">
        <source src="{{ section.settings.btn_link }}" type="video/mp4">
      </video>
    </div>

    <script defer>
      $(document).ready(function() {
        $('.popup-defolt').magnificPopup({
          type: 'inline',
          preloader: false,
          callbacks: {
            beforeClose: function() {
              document.querySelector('.white-popup-block video').pause();
              document.getElementById('video-yas-konch').play();
            },
            open: function() {
              document.getElementById('video-yas-konch').pause();
            },
          }
        });

        $('.popup-frame').magnificPopup({
          type: 'iframe',
          mainClass: 'mfp-fade',
          removalDelay: 160,
          preloader: false,
          fixedContentPos: false,
          iframe: {
            patterns: {
              youtube: {
                index: 'youtu.be/',
                id: '/',
                src: 'https://www.youtube.com/embed/%id%?rel=0&autoplay=1'
              },
              vimeo: {
                index: 'vimeo.com/',
                id: '/',
                src: '//player.vimeo.com/video/%id%?autoplay=1'
              }
            }
          },
          callbacks: {
            beforeClose: function() {
              document.getElementById('video-yas-konch').play();
            },
            open: function() {     
              document.getElementById('video-yas-konch').pause();         
            },
          }
        });
      })
    </script>
  {% endif %}
{%- endif -%}
{% schema %}
{
  "name": "Product Video",
  "class": "custom-product-videos",
  "settings": [
    {
      "type": "header",
      "content": "Overlay setting"
    },
    {
      "type": "checkbox",
      "id": "overlay_show",
      "default": true,
      "label": "Show overlay?"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 99,
      "step": 1,
      "default": 80,
      "label": "Overlay Transparent"
    },    
    {
       "type": "header",
       "content": "Other setting"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image background"
    },
    {
      "id": "text-box",
      "type": "url",
      "label": "Video Source"
    },
     {
      "id": "title",
      "type": "text",
      "label": "Video Heading"
    },
    {
      "id": "detail",
      "type": "text",
      "label": "Video Detail"
    },
     {
      "id": "btn_text",
      "type": "text",
      "label": "Button Heading"
    },
    {
      "id": "btn_link",
      "type": "url",
      "label": "Button Link"
    }
  ]
  ,
  "presets": [
    {
      "name": "Product Video",
      "category": "Promotional"
    }
  ]
}
{% endschema %}