<style>
#shopify-section-{{ section.id }}{
    background-color: #ece6d8;
    text-align: center;
    padding: 95px 35px 150px;
}

#shopify-section-{{section.id}} p{
    font-family: "Source Serif Pro" !important;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000;
    margin: 0;
}
.enviro_last-text{
    max-width: 1370px;
    margin: 0 auto 55px;
}
@media (max-width: 989px){
  #shopify-section-{{section.id}}{
    padding: 60px 35px 45px;
  }
  #shopify-section-{{section.id}} p{
    font-size: 20px;
    line-height: 30px;
  }
  #shopify-section-{{section.id}} img{
    width: 225px;
  }
  
}
</style>

<div class="enviro_last-text">
  {{ section.settings.text }}
</div>
{% if section.settings.image %}
<img src="{{ section.settings.image | image_url }}" alt="">
{% endif %}
{% schema %}
  {
    "name": "enviro last",
    "class": "enviro_last-w",
    "settings": [
      {
            "type": "richtext",
            "id": "text",
            "label": "Text"
      },
      {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "enviro last"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}