{%- liquid 
  assign s = section.settings
-%}

<style>
  #shopify-section-{{ section.id }} .es-card-wrapper {
    --text-color: {{ section.settings.text_color }};
  }

  #shopify-section-{{ section.id }} .iwp-media .image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, {{ s.overlay | divided_by: 100.0 }});
  }

  {%- if s.hover_effect -%}
    #shopify-section-{{ section.id }} .iwp-media:hover .image::after {
      background-color: rgba(0, 0, 0, {{ s.overlay | divided_by: 100.0 | plus: 0.3 }});
    }
  {%- endif -%}

  @media (min-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: 4px;
    }
  }
</style>

<div class="yas-collection-grid-wrapp">
  <div class="iwp-media{% if s.hide_mobile %} small--hide{% endif %}">
    {%- if s.media_link != blank -%}
      <a href="{{ s.media_link }}">
    {%- endif -%}
    <div class="image{% if s.mobile_image != blank or s.video_mb %} small--hide{% endif %}">
      {%- if s.video != blank -%}
        {%- render 'es-video', poster: s.image, video_source: s.video, show_mute_button: s.show_mute_button -%}
      {%- elsif s.image != blank -%}
        <img
          src="{{ s.image | img_url: '1920x' }}"
          width="{{ s.image.width }}"
          height="{{ s.image.height }}"
          alt="{{ s.image.alt }}"
        >
      {%- endif -%}
    </div>
    {% if s.mobile_image != blank or s.video_mb != blank %} 
      <div class="image medium-up--hide">
        {%- if s.video_mb != blank or s.video_mb != blank -%}
          {%- render 'es-video', poster: s.mobile_image, video_source: s.video_mb -%}
        {%- elsif s.mobile_image != blank -%}
          <img
            src="{{ s.mobile_image | img_url: '720x' }}"
            width="{{ s.mobile_image.width }}"
            height="{{ s.mobile_image.height }}"
            alt="{{ s.mobile_image.alt }}"
          >
        {%- endif -%}
      </div>
    {% endif %}
    {%- if s.heading != blank -%}
      <div class="iwp-content">
        <h2 class="font-h2">{{ s.heading }}</h2>
        {%- if s.text != blank -%}
          <div class="font-text">{{ s.text }}</div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if s.media_link != blank -%}
      </a>
    {%- endif -%}
  </div>
  <div class="iwp-products">
    <ul class="grid product-grid grid--4-col-desktop grid--2-col-tablet-down" role="list">
      {%- if section.blocks.size > 0 -%}
        {% for block in section.blocks %}
          <li class="grid__item">
            {% render 'es-card-product',
              block: block,
              card_product: block.settings.product,
              show_secondary_image: true,
              media_aspect_ratio: 'portrait',
              extend_height: true
            %}
          </li>
        {% endfor %}
      {%- else -%}
        {% for product in s.collection.products limit: 4 %}
          <li class="grid__item">
            {% render 'es-card-product',
              card_product: product,
              show_secondary_image: true,
              media_aspect_ratio: 'portrait',
              extend_height: true
            %}
          </li>
        {% endfor %}
      {%- endif -%}
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    (() => {
      const muteBtns = document.querySelectorAll('#shopify-section-{{ section.id }} .muteBtn');

      muteBtns.forEach(muteBtn => {
        muteBtn.addEventListener('click', (e) => {
          e.preventDefault();
          e.stopImmediatePropagation();

          let video = document.querySelector(`#shopify-section-{{ section.id }} .${muteBtn.dataset.target}`);

          console.log(video);
    
          video.muted = !video.muted;
          
          let img_url = video.muted ? 'https://cdn.shopify.com/s/files/1/0620/1648/7614/files/d1bb3df3-6f7e-4fc1-857a-d86e70ce18f6.png?v=1740779556' : 'https://cdn.shopify.com/s/files/1/0620/1648/7614/files/1e4a9c7a-e92e-4fc0-a1c8-3d80a5e9b112.png?v=1740779556';
          muteBtn.querySelector("img").setAttribute("src", img_url);

          video.addEventListener('loadedmetadata', () => {
            muteBtn.style.display = 'block';
          });
        });
      });
    })();
  });
</script>

{%- schema -%}
{
	"name": "Image with Products",
	"tag": "section",
	"class": "es-image-with-products",
	"settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "url",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "url",
      "id": "video_mb",
      "label": "Mobile Video"
    },
    {
      "type": "url",
      "id": "media_link",
      "label": "Media Link"
    },
    {
      "type": "range",
      "id": "overlay",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_mute_button",
      "label": "Show Mute Button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hover_effect",
      "label": "Hover Effect",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide Mobile",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 4,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "use_variant_metafield",
          "label": "Use Variant Metafield",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Main Image"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Secondary Title"
        },
        {
          "type": "inline_richtext",
          "id": "sub_title",
          "label": "Secondary Sub Title"
        }
      ]
    }
  ],
	"presets": [
		{
			"name": "@ Image with Products"
		}
	]
}
{%- endschema -%}