<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<style>
  #shopify-section-{{section.id}}{
    padding-top: 75px;
  }
  #shopify-section-{{section.id}} .swiper-slide{
    max-width: 385px;
    width: 100%;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider_image{
    position: relative;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider_image-wrapp{
    overflow: hidden;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider_image-wrapp:hover img{
    transform: scale(1.2);
  }
  #shopify-section-{{section.id}} .swiper-slide img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease;
    transform-origin: top;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider_image > a{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    max-width: 268px;
    width: 80%;
    height: 50px;
    border: 3px solid #FFFFFF;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: CentraNo2-Extrabold, sans-serif !important;
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider_image > a:hover{
    background-color: #fff;
    border-color: #fff;
    color: #000;
  }
  #shopify-section-{{section.id}} h2{
    text-align: center;
    color: #B59E5F;
    font-family: "CentraNo2-Bold";
    font-size: 45px;
    letter-spacing: 0; 
    margin-bottom: 5px;
  }
  #shopify-section-{{section.id}} h2 span{
    color: #000;
  }
  #shopify-section-{{section.id}} h5{
    color: #000;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.02em;
    line-height: 35px;
    text-align: center;
    font-family: Centra_No2 !important;
    margin-bottom: 35px;
    font-weight: 400 !important;
  }
  #shopify-section-{{section.id}} h3{
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: "CentraNo2-Bold";
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider_color{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider_color i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 2.5px;
  }
  #shopify-section-{{section.id}} .swiper-button-next,
  #shopify-section-{{section.id}} .swiper-button-prev{
      display: none;
  }
  #shopify-section-{{section.id}} .yas-pickvibe-slider{
      max-width: 1925px;
      margin: 0 auto;
    }
  @media (max-width: 1240px) and (min-width: 897px){
    #shopify-section-{{section.id}} .yas-pickvibe-slider_color i{
      width: 30px;
      height: 30px;
    }
  }
  @media (max-width: 989px){
    #shopify-section-{{section.id}} h2{
      margin: 0 auto 40px;
      max-width: 90%;
    }
    #shopify-section-{{section.id}} .yas-pickvibe-slider_image > a{
      font-size: 14px;
      height: 36px;
    }
    #shopify-section-{{section.id}} .yas-pickvibe-slider{
      max-width: 375px;
    }
    #shopify-section-{{section.id}}{
      padding-top: 25px;
    }
   
    #shopify-section-{{section.id}} .swiper-button-next,
    #shopify-section-{{section.id}} .swiper-button-prev{
      display: flex;
      height: 68px;
      width: 14px;
      margin-top: calc(0px - 80px);
    }
    #shopify-section-{{section.id}} .swiper-button-next{
      right: 25px;
    }
    #shopify-section-{{section.id}} .swiper-button-prev{
      left: 25px;
    }
    #shopify-section-{{section.id}} .swiper-button-next:after,
    #shopify-section-{{section.id}} .swiper-button-prev:after{
  
      content: none;
    }
  }
  @media (max-width: 529px){
     #shopify-section-{{section.id}} h2{
      font-size: 25px;
      margin: 0 auto 40px;
      max-width: 250px;
    }
    #shopify-section-{{section.id}} h3{
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
</style>
<div class="yas-pickvibe-wrapp">
  <h2>{{ section.settings.title }}</h2>
  <h5>{{ section.settings.under_title }}</h5>  
      <div class="swiper yas-pickvibe-slider">

        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="yas-pickvibe-slider_image">
                <div class="yas-pickvibe-slider_image-wrapp">
                  <a href="{{ block.settings.url }}">
                  <img src="{{ block.settings.image | img_url: 'x1' }}" alt="{{ block.settings.title }}"
                    srcset="{{ block.settings.image | img_url: '200x' }}"
                    loading="lazy"
                    >
                  </a>
                </div>
                <a href="{{ block.settings.url }}" style="background-color: {{ block.settings.bg_color }}; border-color: {{ block.settings.bg_color }};">{{ block.settings.title }}</a>
              </div>
              <div class="yas-pickvibe-slider_color">
                  {% if block.settings.show_color1 %}<i style="background-color: {{ block.settings.color1 }};"></i>{% endif %}
                  {% if block.settings.show_color2 %}<i style="background-color: {{ block.settings.color2 }};"></i>{% endif %}
                  {% if block.settings.show_color3 %}<i style="background-color: {{ block.settings.color3 }};"></i>{% endif %}
                  {% if block.settings.show_color4 %}<i style="background-color: {{ block.settings.color4 }};"></i>{% endif %}
                  {% if block.settings.show_color5 %}<i style="background-color: {{ block.settings.color5 }};"></i>{% endif %}
              </div>
            </div>
          {% endfor %}
        </div>

        
       <div class="swiper-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.196" height="54.662" viewBox="0 0 17.196 54.662">
            <path  d="M0,0,24,11.366,48,0" transform="translate(13.866 3.329) rotate(90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.196" height="54.662" viewBox="0 0 17.196 54.662">
            <g  transform="translate(14.696 51.333) rotate(-180)">
              <path   d="M0,0,24,11.366,48,0" transform="translate(11.366 0) rotate(90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
            </g>
          </svg>
        </div>

      </div>
</div>

<script defer>
  $(function(){
    let swiper = new Swiper('#shopify-section-{{section.id}} .swiper', {
      loop: false,
      slidesPerView: '1',
      navigation: {
        nextEl: '#shopify-section-{{section.id}} .swiper-button-next',
        prevEl: '#shopify-section-{{section.id}} .swiper-button-prev',
      },
      breakpoints: {
        // when window width is >= 320px
        0: {
          slidesPerView: '1',
        },
        // when window width is >= 480px
        480: {
          spaceBetween: 25,
        },
        // when window width is >= 640px
        990: {
          slidesPerView: '5',
          spaceBetween: 22.5,
        }
      }
    });
  })
</script>


{% schema %}
  {
    "name": "Yas pick vibe",
    "class": "yas-pickvibe",
    "settings": [
      {
            "type": "text",
            "id": "title",
            "label": "Title section",
            "default": "PICK YOUR VIBE."
      },
      {
            "type": "text",
            "id": "under_title",
            "label": "Under title",
            "default": "Caramel Café Skyline Pants in monochrome with a Tropical Weight txtxtxttxtxttx."
      }      
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Select Collection",
        "settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Bg color btn",
            "default": "#BC8396"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title collection",
            "default": "Title"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image collection"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link button"
          },
          {
            "type": "header",
            "content": "Color setting"
          },
          {
          "type": "checkbox",
          "id": "show_color1",
          "default": true,
          "label": "Show Color 1"
          },
          {
            "type": "color",
            "id": "color1",
            "label": "Color 1",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color2",
          "default": true,
          "label": "Show Color 2"
          },
          {
            "type": "color",
            "id": "color2",
            "label": "Color 2",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color3",
          "default": true,
          "label": "Show Color 3"
          },
          {
            "type": "color",
            "id": "color3",
            "label": "Color 3",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color4",
          "default": true,
          "label": "Show Color 4"
          },
          {
            "type": "color",
            "id": "color4",
            "label": "Color 4",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color5",
          "default": false,
          "label": "Show Color 5"
          },
          {
            "type": "color",
            "id": "color5",
            "label": "Color 5",
            "default": "#FFFFFF"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Yas pick vibe"
      }
    ]
  }
{% endschema %}

{% comment %}
Если нужен будет ввывод с колекции
{
   "id": "collect",
   "type": "collection",
    "label": "Select collection"
}
{% endcomment %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}