{{ 'yas-land-product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

{% assign metaobjectFilter = page.metafields.custom.filte_product.value %}
{% assign collorMass = metaobjectFilter.colorplan_collection.value.metafields.custom.color_product_look_template.value %}
{% assign Name = metaobjectFilter.name.value %}
{% assign SizeShirt = metaobjectFilter.size_shirt.value %}
{% assign SizePants = metaobjectFilter.size_pants.value %}
{% assign colorCollection = collorMass | join: ', ' %} 

{% comment %}
       coloer metafild collection - color all collection
      {{ metaobjectFilter.colorplan_collection.value.metafields.custom.color_product_look_template.value | json }}
{% endcomment %}
<section class="land-info">
  <div class="land-info-wrapp">
    <div class="land-info-left">
        <h3>Hi First Name!</h3>
        <p>
          Shown below are Henleys <strong>in your exact Y.Chroma Worry Free Color Plan& size.</strong> 
        </p>
        <p>
          Simply add items to your cart and check out. We promise they’ll fit and look
          fantastic with the rest of your Y.Chroma wardrobe.
        </p>
    </div>
    <div class="land-info-right">
      <div class="land-info-right-deskVis">
      <p style="text-transform: initial;">This page has been curated exclusively for</p>
      <p><strong>{{ Name }}</strong></p>
      </div>
      <div class="land-info-right-mobkVis">
      <p>This page has been curated</p>
      <p><strong>exclusively for {{ Name }}</strong></p>
      </div>
      <div class="land-info-first_plan">
        <p>
        <strong class="land-info-first_plan-mbhide">FirstName’s Y.Chroma Details</strong> Worry Free Color Plan: <strong>{{ metaobjectFilter.colorplan_collection.value.title | remove: 'Confident Color:' }} </strong>
        </p>
      </div>
      <div><p>Shirt Size: <strong>{{ SizeShirt }}</strong></p></div>
      <div><p>Pant Size: <strong>{{ SizePants }}</strong></p></div>
    </div>
  </div>
</section>
  
<section class="land-prod">
     
{% for product in metaobjectFilter.list_product.value %}
  <div class="land-prod-w">
    <div class="land-prod-info">
      <h2>{{ product.title }}</h2>
      <p>{{ product.description | strip_html }}</p>
    </div>
    
    <div class="land-prod-items">
      {% for variant in product.variants %}
        {% if colorCollection contains variant.option1 and variant.option2 == SizePants or variant.option2 == SizeShirt %}
        <div class="land-prod-item">
          <div class="land-prod-item_img">
            <a href="#popup-{{ variant.id }}" class="open-popup-link">
            <img src="{{ variant.featured_media | image_url }}" alt="{{ product.title }}">
            </a>
          </div>
          <p class="land-prod-item_option">{{ variant.option1 | upcase }}</p>
          <p class="land-prod-item_price">{{ variant.price | money }}</p>
          <product-form>
          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ variant.id }}" disabled>
                  <input type="hidden" name="quantity" value="1" disabled>
            
                  <div class="product-form__buttons">
                    <button type="submit" name="add" class="product-form__submit button button--full-width button--primary">
                      ADD TO CART
                      <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                      </div>
                    </button>

                  </div>
           {%- endform -%}
           </product-form>
           <div id="popup-{{ variant.id }}" class="popup-variant-land white-popup mfp-hide">
             <div class="popup-variant-land-w">
               <div class="popup-variant-land-img">
                 <swiper-container slides-per-view="1" navigation="true" pagination="true">
                  {% for media in product.media %}
                    {% if variant.option1 == media.alt %}
                    <swiper-slide><img src="{{ media | image_url }}" alt="{{ product.title }}"></swiper-slide>
                    {% endif %}
                  {% endfor %}
                </swiper-container>
               </div>
               <div class="popup-variant-land-info">
                 <product-form>
                 {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ variant.id }}" disabled>
                  <input type="hidden" name="quantity" value="1" disabled>
                  <p class="land-prod-item_option">{{ variant.option1 | upcase }}</p>
                  <p class="land-prod-item_price">{{ variant.price | money }}</p>
                  <div class="product-form__buttons">
                    <button type="submit" name="add" class="product-form__submit button button--full-width button--primary">
                      ADD TO CART
                      <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                      </div>
                    </button>
                  </div>
                 {%- endform -%}
                 </product-form>
               </div>
             </div>
           </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
<script>
  $('.open-popup-link').magnificPopup({
    type:'inline',
    mainClass: 'popup-wrapp-lend',
    fixedContentPos: true
  });
</script>
</section>

<section class="land-reviews">
  <div class="land-reviews-w">
    <div class="land-reviews-l">
      <h3>Customer Reviews</h3>
      <p class="land-reviews_under-titele">Here’s what people are saying about Y.Chroma Henleys</p>
      <p><strong>Top reviews from the United States</strong></p>
      {% assign productKlavioFirst = metaobjectFilter.list_product.value | first %}
      <div id="klaviyo-reviews-list" data-id="{{productKlavioFirst.id}}"></div>
    </div>
    <div class="land-reviews-r">
      <div class="land-reviews-topcont">
      <h3>The Y.Chroma Luxury Guarantee</h3>
      <p><strong>We’re not like other clothing brands.
      …and we’re willing to put our money where our mouth is to prove it.
      </strong>
      </p>

      <p>
        Unlike the big name brands you’ve shopped with in the past, Y.Chroma gives you:
        <br>
        • 90 days for returns<br>
        • 365 days for exchanges<br>
        • A Lifetime repair commitment<br>
        • No restocking fee on returns
      </p>


      <p>
        These are NOT the usual 30 day “we’re in it for a fast buck” terms you’re used to.
      </p>
      <p>
        Our terms are luxurious, just like our clothing.
      </p>

      <p>
        Why would we do that when everyone else just gives you 30 days or less?
      </p>
      
      <p>
        Simple. We are in it for the long haul with you, and we know that once you get these shirts home, you’ll be wearing them for the next decade. No need to make a quick decision today.<strong> Just add the shirts to your
cart and check out before this batch is sold out forever.</strong> Then, once your shirts arrive, try them on knowing you’ve got months before you need to make a “final decision”.
      </p>
      </div>
      <div class="land-reviews-avard">
        <h3>Awards</h3>
        <p>It’s not just our customers that love the Y.Chroma Henley!</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="224.048" height="113.346" viewBox="0 0 224.048 113.346">
            <g id="Сгруппировать_757" data-name="Сгруппировать 757" transform="translate(-1215.976 -6495)">
              <path id="Контур_121" data-name="Контур 121" d="M58.452,248.661c1.263-5.657-2.513-14.243-5.512-19.243-1.242,1.92-3.695,9.7,1.37,15.835-6.009-3.82-15.862-4.693-17.739-4.5,5.9,6.481,15.652,10.854,21.88,7.911" transform="translate(1192.909 6350.299)"/>
              <path id="Контур_122" data-name="Контур 122" d="M36.91,225.947c2.148-4.93.184-13.937-1.691-18.869-1.666,1.75-5.438,8.4-1.444,15.262-5.566-5.168-14.6-7.4-16.3-7.568,4.437,7.37,13.139,12.9,19.432,11.175" transform="translate(1204.952 6364.39)"/>
              <path id="Контур_123" data-name="Контур 123" d="M21.022,199.643c3.03-4.171,3.069-13.158,2.245-17.856A12.536,12.536,0,0,0,18.933,196c-4.557-6.221-12.3-9.848-14.055-10.414,2.771,8.085,10.147,14.5,16.144,14.056" transform="translate(1212.899 6380.341)"/>
              <path id="Контур_124" data-name="Контур 124" d="M12.4,171.319c3.643-3.147,5.749-11.443,5.765-16.259-2.415,1.142-7.975,5.393-6.882,12.794A29.069,29.069,0,0,0,0,155.331c1.1,8.532,7.168,15.315,12.4,15.988" transform="translate(1215.976 6397.199)"/>
              <path id="Контур_125" data-name="Контур 125" d="M11.827,137.308c4.182-2.279,7.348-10.242,8.25-13.8-3.839.8-8.064,3.791-8.72,8.693-1.12-4.816-5.759-10.544-7.5-12.167-1.175,8.521,3.549,15.845,7.967,17.277" transform="translate(1213.656 6419.293)"/>
              <path id="Контур_126" data-name="Контур 126" d="M16.517,102.8c3.465-.876,9.163-5.826,11.607-10.781-4.97.138-9.529,2.735-11.225,8.132a23.255,23.255,0,0,0-4.115-14.888c-2.837,7.213-.251,15.173,3.733,17.537" transform="translate(1208.669 6441.223)"/>
              <path id="Контур_127" data-name="Контур 127" d="M28.143,72.8c3.327-.021,9.824-3.385,13.142-8.231C36.3,64.128,31.8,65.928,29,70.678a18.562,18.562,0,0,0-1.246-14.523c-3.7,6.111-2.605,13.838.39,16.641" transform="translate(1199.952 6459.582)"/>
              <path id="Контур_128" data-name="Контур 128" d="M44.552,45.744c3.06.508,9.826-1.641,13.676-6.16-4.806-.833-9.075.252-12.65,4.514a16.4,16.4,0,0,0,.764-13.8c-4.4,5.457-3.9,12.783-1.79,15.447" transform="translate(1188.865 6475.891)"/>
              <path id="Контур_129" data-name="Контур 129" d="M64.414,21.269c2.454.761,9.29-.17,13.643-4.489-4.645-1.154-8.562-.513-12.592,3.206,3-4.757,3.332-8.319,2.2-12.928-4.784,4.746-4.825,11.722-3.255,14.212" transform="translate(1175.93 6490.549)"/>
              <path id="Контур_130" data-name="Контур 130" d="M77.27,250.36c-.835,2.052-1.743,10.675,4.218,15.938-7.056-2.883-16.957-1.74-18.531-1.24,7.857,5.931,18.5,8.22,23.713,4.126-.1-6.381-5.121-13.81-9.4-18.825" transform="translate(1176.268 6337.09)"/>
              <path id="Контур_131" data-name="Контур 131" d="M84.173,9.585c5.1.3,8.869-4.888,10.271-9.585C89.039.57,83.423,4.683,84.173,9.585" transform="translate(1162.928 6495)"/>
              <path id="Контур_132" data-name="Контур 132" d="M510.479,248.661c-1.263-5.657,2.512-14.243,5.512-19.243,1.242,1.92,3.695,9.7-1.37,15.835,6.009-3.82,15.862-4.693,17.739-4.5-5.9,6.481-15.652,10.854-21.88,7.911" transform="translate(894.159 6350.299)"/>
              <path id="Контур_133" data-name="Контур 133" d="M535.03,225.947c-2.148-4.93-.184-13.937,1.691-18.869,1.666,1.75,5.438,8.4,1.444,15.262,5.566-5.168,14.6-7.4,16.3-7.568-4.437,7.37-13.139,12.9-19.432,11.175" transform="translate(879.108 6364.39)"/>
              <path id="Контур_134" data-name="Контур 134" d="M553.518,199.643c-3.03-4.171-3.069-13.158-2.245-17.856A12.536,12.536,0,0,1,555.608,196c4.557-6.221,12.3-9.848,14.055-10.414-2.772,8.085-10.147,14.5-16.145,14.056" transform="translate(868.56 6380.341)"/>
              <path id="Контур_135" data-name="Контур 135" d="M563.3,171.319c-3.643-3.147-5.749-11.443-5.765-16.259,2.415,1.142,7.976,5.393,6.883,12.794A29.069,29.069,0,0,1,575.7,155.331c-1.1,8.532-7.167,15.315-12.4,15.988" transform="translate(864.32 6397.199)"/>
              <path id="Контур_136" data-name="Контур 136" d="M566.894,137.308c-4.182-2.279-7.348-10.242-8.25-13.8,3.839.8,8.064,3.791,8.72,8.693,1.12-4.816,5.759-10.544,7.5-12.167,1.175,8.521-3.549,15.845-7.967,17.277" transform="translate(863.622 6419.293)"/>
              <path id="Контур_137" data-name="Контур 137" d="M561.967,102.8c-3.465-.876-9.163-5.826-11.607-10.781,4.97.138,9.529,2.735,11.225,8.132A23.255,23.255,0,0,1,565.7,85.262c2.837,7.213.251,15.173-3.733,17.537" transform="translate(868.847 6441.223)"/>
              <path id="Контур_138" data-name="Контур 138" d="M551.466,72.8c-3.327-.021-9.824-3.385-13.142-8.231,4.986-.437,9.487,1.363,12.286,6.113a18.563,18.563,0,0,1,1.246-14.523c3.7,6.111,2.605,13.838-.39,16.641" transform="translate(876.439 6459.582)"/>
              <path id="Контур_139" data-name="Контур 139" d="M536.143,45.744c-3.06.508-9.826-1.641-13.676-6.16,4.806-.833,9.075.252,12.65,4.514a16.4,16.4,0,0,1-.764-13.8c4.4,5.457,3.9,12.783,1.79,15.447" transform="translate(886.44 6475.891)"/>
              <path id="Контур_140" data-name="Контур 140" d="M517.437,21.269c-2.454.761-9.29-.17-13.643-4.489,4.645-1.154,8.562-.513,12.592,3.206-3-4.757-3.332-8.319-2.2-12.928,4.784,4.746,4.825,11.722,3.255,14.212" transform="translate(898.218 6490.549)"/>
              <path id="Контур_141" data-name="Контур 141" d="M488.961,250.36c.835,2.052,1.743,10.675-4.218,15.938,7.056-2.883,16.957-1.74,18.531-1.24-7.857,5.931-18.5,8.22-23.713,4.126.1-6.381,5.121-13.81,9.4-18.825" transform="translate(913.502 6337.09)"/>
              <path id="Контур_142" data-name="Контур 142" d="M504.9,9.585c-5.1.3-8.869-4.888-10.271-9.585,5.406.57,11.021,4.683,10.271,9.585" transform="translate(903.999 6495)"/>
              <path id="Контур_143" data-name="Контур 143" d="M145.883,119.063V102.6c0-3.4-1.528-5-4.167-5a5.248,5.248,0,0,0-4.584,2.431V97.6l-6.945.764v1.875h1.6v18.821h-1.667v1.876h8.264v-1.876h-1.111V104.687c0-2.5.695-3.542,1.945-3.542.9,0,1.25.555,1.25,1.945v15.974h-1.25v1.876h7.778v-1.876Zm-30.766,0V91.491h1.458V89.685h-8.126l-4.028,17.571-4.306-17.571H91.781v1.805h1.736v27.572H91.781v1.876H98.17v-1.876H96.156V99.686l5.07,21.252h2.916l5-21.391v19.515h-1.876v1.876h9.307v-1.876Zm45.212-4.306c0-7.361-7.917-7.848-7.917-12.71,0-1.667.833-2.5,2.153-2.5,2.014,0,3.056,2.014,3.195,6.25h1.806V98.853a10.369,10.369,0,0,0-5.07-1.25c-3.681,0-6.667,2.083-6.667,6.32,0,6.945,7.709,7.918,7.709,12.64,0,1.875-.9,2.778-2.361,2.778-2.223,0-3.334-1.945-3.473-6.737H147.9v7.5a12.134,12.134,0,0,0,5.487,1.25c4.028,0,6.945-2.292,6.945-6.6m58.478,4.306V89.338l-7.154.764v1.806h1.737v27.155h-1.111v1.876h8.195v-1.876Zm-38.406,0V91.491H182V89.685h-9.515v1.805h1.945v12.918h-6.112V91.491h2.014V89.685h-9.654v1.805h1.667v27.572h-1.667v1.876h9.654v-1.876h-2.014v-12.5h6.112v12.5h-1.945v1.876H182v-1.876Zm24.516-11.042V115.1c0,2.084-.417,2.917-1.6,2.917-.9,0-1.32-.764-1.32-3.264,0-4.237.347-5.278,2.917-6.737m41.6,11.042V102.6c0-3.4-1.528-5-4.236-5a5.248,5.248,0,0,0-4.584,2.431v-10.7l-6.875.764v1.806h1.6v27.155h-1.111v1.876h7.639v-1.876h-1.111V104.687c0-2.5.695-3.542,1.944-3.542.9,0,1.251.555,1.251,1.945v15.974H239.78v1.876h8.265v-1.876Zm-36.184-15.348c0-4.306-1.944-6.112-6.111-6.112s-7.015,2.986-7.015,6.528v1.389H202v-3.264c0-1.875.417-2.569,1.459-2.569s1.458.625,1.458,2.569v3.82c-6.32,2.153-8.265,3.751-8.265,9.1,0,4.167,1.667,6.181,4.514,6.181a4.705,4.705,0,0,0,4.168-2.708v2.292h6.181v-1.876h-1.181Zm16.113,17.64c3.125,0,4.445-1.945,4.445-4.723V113.16h-2.083v3.473c0,1.458-.208,1.945-.9,1.945-.625,0-.833-.417-.833-1.736V100.172h3.819V98.02h-3.75V91.56h-2.153L221.792,98.3h-1.875V100.1h1.666v15.418c0,4.028.695,5.834,4.862,5.834m-30.7-8.2h-2.222v.764c0,3.195-.9,4.723-2.778,4.723-2.153,0-3.195-1.389-3.195-8.682v-.556h8.473c0-8.542-1.875-11.876-6.6-11.876s-7.779,4.862-7.779,12.362c0,7.432,2.918,11.46,7.917,11.46,4.306,0,6.181-2.431,6.181-7.57Zm-6.32-13.126c1.042,0,1.528.833,1.528,7.362h-3.4c.139-6.529.694-7.362,1.875-7.362M130.257,113.16h-2.222v.764c0,3.195-.9,4.723-2.778,4.723-2.153,0-3.195-1.389-3.195-8.682v-.556h8.473c0-8.542-1.875-11.876-6.6-11.876s-7.778,4.862-7.778,12.362c0,7.432,2.916,11.46,7.917,11.46,4.306,0,6.181-2.431,6.181-7.57Zm-6.32-13.126c1.042,0,1.528.833,1.528,7.362h-3.4c.139-6.529.695-7.362,1.875-7.362m21.113-5.487h1.389v4.028h1.736l1.6-6.389V89.616H145.05Z" transform="translate(1158.087 6438.652)"/>
              <path id="Контур_144" data-name="Контур 144" d="M140.2,210.644h7.577v2.5h-4.819v2.612h4.4v2.428h-4.4v2.832h4.855v2.5H140.2Z" transform="translate(1127.545 6362.14)"/>
              <path id="Контур_145" data-name="Контур 145" d="M171.16,223.519H166.8V210.645h4.359a6.438,6.438,0,1,1,0,12.874m-.074-10.281h-1.527v7.687h1.527a3.844,3.844,0,0,0,0-7.687" transform="translate(1110.77 6362.14)"/>
              <rect id="Прямоугольник_204" data-name="Прямоугольник 204" width="2.777" height="12.874" transform="translate(1290.591 6572.785)"/>
              <path id="Контур_146" data-name="Контур 146" d="M214.165,210.644h9.563v2.575h-3.384v10.3h-2.777v-10.3h-3.4Z" transform="translate(1080.896 6362.14)"/>
              <path id="Контур_147" data-name="Контур 147" d="M247.741,223.35a6.676,6.676,0,1,1,6.731-6.676,6.676,6.676,0,0,1-6.731,6.676m0-10.667a3.992,3.992,0,1,0,3.9,3.991,3.91,3.91,0,0,0-3.9-3.991" transform="translate(1063.964 6362.548)"/>
              <path id="Контур_148" data-name="Контур 148" d="M285.935,223.518H283.2V210.644h4.285c2.777,0,4.708,1.49,4.708,4.12a3.868,3.868,0,0,1-2.648,3.715l3.549,5.039h-3.255l-3.164-4.708h-.736Zm0-6.989H287.5a1.72,1.72,0,0,0,1.913-1.71,1.7,1.7,0,0,0-1.913-1.692h-1.563Z" transform="translate(1037.356 6362.141)"/>
              <path id="Контур_149" data-name="Контур 149" d="M312.33,214.687l1.1-1.986H313.4a1.228,1.228,0,0,1-1.214-1.232,1.456,1.456,0,0,1,1.49-1.471,1.44,1.44,0,0,1,1.508,1.471,2.875,2.875,0,0,1-.423,1.416l-.956,1.8Z" transform="translate(1019.073 6362.548)"/>
              <path id="Контур_150" data-name="Контур 150" d="M325.413,218.917a2.7,2.7,0,0,0,2.483,1.839c.9,0,1.655-.46,1.655-1.287,0-.625-.423-1.048-1.343-1.379l-1.545-.552c-1.876-.681-3.072-1.821-3.072-3.678,0-2.336,1.784-3.862,4.212-3.862a4.733,4.733,0,0,1,4.377,2.777l-2.3,1.324a2.284,2.284,0,0,0-2.023-1.545c-.846,0-1.435.46-1.435,1.14,0,.607.46.975,1.251,1.269l1.673.644c2.06.773,3.053,1.949,3.053,3.678,0,2.575-2.152,4.065-4.543,4.065a5.008,5.008,0,0,1-4.819-3.163Z" transform="translate(1012.225 6362.548)"/>
              <path id="Контур_151" data-name="Контур 151" d="M369.6,210.644c2.8,0,4.727,1.508,4.727,4.157,0,2.63-1.931,4.157-4.727,4.157h-1.619v4.561h-2.759V210.644Zm-1.619,5.867h1.674a1.7,1.7,0,1,0,0-3.384h-1.674Z" transform="translate(985.618 6362.141)"/>
              <rect id="Прямоугольник_205" data-name="Прямоугольник 205" width="2.777" height="12.874" transform="translate(1361.711 6572.785)"/>
              <path id="Контур_152" data-name="Контур 152" d="M414.565,210a6.391,6.391,0,0,1,3.274.919v2.924a5.108,5.108,0,0,0-3.182-1.14,3.964,3.964,0,0,0,0,7.927,5.354,5.354,0,0,0,3.2-1.1v2.924a6.666,6.666,0,0,1-3.311.9,6.477,6.477,0,0,1-6.639-6.676A6.591,6.591,0,0,1,414.565,210" transform="translate(958.697 6362.548)"/>
              <path id="Контур_153" data-name="Контур 153" d="M443.456,215.739l4.34-5.094h3.31l-5.3,6.069,5.665,6.8H448l-3.954-4.947-.589.662v4.285h-2.777V210.644h2.777Z" transform="translate(938.027 6362.14)"/>
              <line id="Линия_59" data-name="Линия 59" x2="121.385" transform="translate(1267.308 6566.464)" fill="#231f20"/>
              <rect id="Прямоугольник_206" data-name="Прямоугольник 206" width="121.385" height="0.739" transform="translate(1267.308 6566.094)"/>
            </g>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" width="224.048" height="113.346" viewBox="0 0 224.048 113.346">
  <g id="Сгруппировать_758" data-name="Сгруппировать 758" transform="translate(-1215.976 -6633.346)">
    <path id="Контур_154" data-name="Контур 154" d="M831.6,248.661c1.263-5.657-2.513-14.243-5.512-19.243-1.242,1.92-3.695,9.7,1.37,15.835-6.009-3.82-15.862-4.693-17.739-4.5,5.9,6.481,15.652,10.854,21.88,7.911" transform="translate(419.757 6488.645)"/>
    <path id="Контур_155" data-name="Контур 155" d="M810.062,225.947c2.148-4.93.184-13.937-1.691-18.869-1.666,1.75-5.438,8.4-1.444,15.262-5.566-5.168-14.595-7.4-16.3-7.568,4.437,7.37,13.139,12.9,19.432,11.175" transform="translate(431.8 6502.735)"/>
    <path id="Контур_156" data-name="Контур 156" d="M794.173,199.643c3.03-4.171,3.069-13.158,2.245-17.856A12.536,12.536,0,0,0,792.084,196c-4.557-6.221-12.3-9.848-14.055-10.414,2.771,8.085,10.147,14.5,16.144,14.056" transform="translate(439.748 6518.687)"/>
    <path id="Контур_157" data-name="Контур 157" d="M785.552,171.319c3.643-3.147,5.749-11.443,5.765-16.259-2.415,1.142-7.976,5.393-6.883,12.794a29.069,29.069,0,0,0-11.284-12.523c1.1,8.532,7.167,15.315,12.4,15.988" transform="translate(442.825 6535.545)"/>
    <path id="Контур_158" data-name="Контур 158" d="M784.979,137.308c4.182-2.279,7.348-10.242,8.25-13.8-3.839.8-8.064,3.791-8.72,8.693-1.12-4.816-5.759-10.544-7.5-12.167-1.175,8.521,3.549,15.845,7.967,17.277" transform="translate(440.505 6557.639)"/>
    <path id="Контур_159" data-name="Контур 159" d="M789.668,102.8c3.465-.876,9.163-5.826,11.606-10.781-4.97.138-9.529,2.735-11.225,8.132a23.254,23.254,0,0,0-4.115-14.888c-2.837,7.213-.251,15.173,3.733,17.537" transform="translate(435.518 6579.568)"/>
    <path id="Контур_160" data-name="Контур 160" d="M801.293,72.8c3.328-.021,9.824-3.385,13.142-8.231-4.986-.437-9.487,1.363-12.286,6.113A18.562,18.562,0,0,0,800.9,56.155c-3.7,6.111-2.605,13.838.39,16.641" transform="translate(426.801 6597.927)"/>
    <path id="Контур_161" data-name="Контур 161" d="M817.7,45.744c3.06.508,9.826-1.641,13.676-6.16-4.806-.833-9.075.252-12.651,4.514a16.4,16.4,0,0,0,.764-13.8c-4.4,5.457-3.9,12.783-1.79,15.447" transform="translate(415.714 6614.236)"/>
    <path id="Контур_162" data-name="Контур 162" d="M837.566,21.269c2.453.761,9.289-.17,13.643-4.489-4.645-1.154-8.562-.513-12.592,3.206,3-4.757,3.331-8.319,2.2-12.928C836.036,11.8,836,18.779,837.566,21.269" transform="translate(402.779 6628.895)"/>
    <path id="Контур_163" data-name="Контур 163" d="M850.421,250.36c-.835,2.052-1.743,10.675,4.218,15.938-7.056-2.883-16.957-1.74-18.531-1.24,7.857,5.931,18.5,8.22,23.713,4.126-.1-6.381-5.121-13.81-9.4-18.825" transform="translate(403.117 6475.436)"/>
    <path id="Контур_164" data-name="Контур 164" d="M857.324,9.585c5.1.3,8.869-4.888,10.271-9.585-5.406.57-11.021,4.683-10.271,9.585" transform="translate(389.777 6633.346)"/>
    <path id="Контур_165" data-name="Контур 165" d="M1283.63,248.661c-1.263-5.657,2.513-14.243,5.512-19.243,1.242,1.92,3.695,9.7-1.37,15.835,6.009-3.82,15.862-4.693,17.739-4.5-5.9,6.481-15.652,10.854-21.88,7.911" transform="translate(121.008 6488.645)"/>
    <path id="Контур_166" data-name="Контур 166" d="M1308.181,225.947c-2.148-4.93-.184-13.937,1.691-18.869,1.666,1.75,5.438,8.4,1.444,15.262,5.566-5.168,14.595-7.4,16.3-7.568-4.437,7.37-13.139,12.9-19.432,11.175" transform="translate(105.957 6502.735)"/>
    <path id="Контур_167" data-name="Контур 167" d="M1326.67,199.643c-3.03-4.171-3.069-13.158-2.245-17.856A12.536,12.536,0,0,1,1328.76,196c4.557-6.221,12.3-9.848,14.055-10.414-2.771,8.085-10.147,14.5-16.145,14.056" transform="translate(95.409 6518.687)"/>
    <path id="Контур_168" data-name="Контур 168" d="M1336.454,171.319c-3.643-3.147-5.749-11.443-5.765-16.259,2.415,1.142,7.976,5.393,6.883,12.794a29.068,29.068,0,0,1,11.283-12.523c-1.1,8.532-7.168,15.315-12.4,15.988" transform="translate(91.169 6535.545)"/>
    <path id="Контур_169" data-name="Контур 169" d="M1340.045,137.308c-4.182-2.279-7.348-10.242-8.25-13.8,3.839.8,8.064,3.791,8.72,8.693,1.12-4.816,5.759-10.544,7.5-12.167,1.175,8.521-3.549,15.845-7.967,17.277" transform="translate(90.471 6557.639)"/>
    <path id="Контур_170" data-name="Контур 170" d="M1335.118,102.8c-3.466-.876-9.164-5.826-11.607-10.781,4.97.138,9.53,2.735,11.225,8.132a23.255,23.255,0,0,1,4.115-14.888c2.837,7.213.252,15.173-3.733,17.537" transform="translate(95.696 6579.568)"/>
    <path id="Контур_171" data-name="Контур 171" d="M1324.617,72.8c-3.328-.021-9.824-3.385-13.142-8.231,4.985-.437,9.486,1.363,12.286,6.113a18.562,18.562,0,0,1,1.246-14.523c3.7,6.111,2.605,13.838-.39,16.641" transform="translate(103.288 6597.927)"/>
    <path id="Контур_172" data-name="Контур 172" d="M1309.294,45.744c-3.06.508-9.826-1.641-13.676-6.16,4.806-.833,9.075.252,12.651,4.514a16.4,16.4,0,0,1-.764-13.8c4.4,5.457,3.9,12.783,1.79,15.447" transform="translate(113.289 6614.236)"/>
    <path id="Контур_173" data-name="Контур 173" d="M1290.588,21.269c-2.454.761-9.29-.17-13.643-4.489,4.645-1.154,8.562-.513,12.592,3.206-3-4.757-3.332-8.319-2.2-12.928,4.784,4.746,4.825,11.722,3.255,14.212" transform="translate(125.067 6628.895)"/>
    <path id="Контур_174" data-name="Контур 174" d="M1262.112,250.36c.835,2.052,1.743,10.675-4.218,15.938,7.056-2.883,16.957-1.74,18.531-1.24-7.857,5.931-18.5,8.22-23.713,4.126.1-6.381,5.121-13.81,9.4-18.825" transform="translate(140.351 6475.436)"/>
    <path id="Контур_175" data-name="Контур 175" d="M1278.051,9.585c-5.1.3-8.869-4.888-10.271-9.585,5.406.57,11.021,4.683,10.271,9.585" transform="translate(130.848 6633.346)"/>
    <path id="Контур_176" data-name="Контур 176" d="M911.662,190.644h7.577v2.5h-4.819v2.612h4.4v2.428h-4.4v2.832h4.855v2.5h-7.614Z" transform="translate(355.462 6513.101)"/>
    <path id="Контур_177" data-name="Контур 177" d="M942.617,203.519h-4.359V190.645h4.359a6.438,6.438,0,1,1,0,12.874m-.074-10.281h-1.526v7.687h1.526a3.844,3.844,0,0,0,0-7.687" transform="translate(338.686 6513.1)"/>
    <rect id="Прямоугольник_207" data-name="Прямоугольник 207" width="2.777" height="12.874" transform="translate(1289.966 6703.745)"/>
    <path id="Контур_178" data-name="Контур 178" d="M985.623,190.644h9.563v2.575H991.8v10.3h-2.777v-10.3h-3.4Z" transform="translate(308.813 6513.101)"/>
    <path id="Контур_179" data-name="Контур 179" d="M1019.2,203.349a6.676,6.676,0,1,1,6.731-6.676,6.676,6.676,0,0,1-6.731,6.676m0-10.667a3.992,3.992,0,1,0,3.9,3.991,3.91,3.91,0,0,0-3.9-3.991" transform="translate(291.88 6513.509)"/>
    <path id="Контур_180" data-name="Контур 180" d="M1057.394,203.518h-2.74V190.644h4.285c2.777,0,4.708,1.49,4.708,4.12a3.868,3.868,0,0,1-2.648,3.715l3.549,5.039h-3.255l-3.163-4.708h-.736Zm0-6.989h1.563a1.72,1.72,0,0,0,1.913-1.71,1.7,1.7,0,0,0-1.913-1.692h-1.563Z" transform="translate(265.273 6513.101)"/>
    <path id="Контур_181" data-name="Контур 181" d="M1083.788,194.687l1.1-1.986h-.037a1.228,1.228,0,0,1-1.214-1.232,1.456,1.456,0,0,1,1.49-1.471,1.439,1.439,0,0,1,1.508,1.471,2.876,2.876,0,0,1-.423,1.416l-.957,1.8Z" transform="translate(246.99 6513.509)"/>
    <path id="Контур_182" data-name="Контур 182" d="M1096.87,198.917a2.7,2.7,0,0,0,2.483,1.839c.9,0,1.655-.46,1.655-1.287,0-.625-.423-1.048-1.343-1.379l-1.545-.552c-1.876-.681-3.072-1.821-3.072-3.678,0-2.336,1.784-3.862,4.212-3.862a4.733,4.733,0,0,1,4.377,2.777l-2.3,1.324a2.283,2.283,0,0,0-2.023-1.545c-.846,0-1.435.46-1.435,1.14,0,.607.46.975,1.251,1.269l1.674.644c2.06.773,3.053,1.949,3.053,3.678,0,2.575-2.152,4.065-4.543,4.065a5.008,5.008,0,0,1-4.819-3.163Z" transform="translate(240.142 6513.509)"/>
    <path id="Контур_183" data-name="Контур 183" d="M1141.059,190.644c2.8,0,4.727,1.508,4.727,4.157,0,2.63-1.931,4.157-4.727,4.157h-1.619v4.561h-2.759V190.644Zm-1.619,5.867h1.673a1.7,1.7,0,1,0,0-3.384h-1.673Z" transform="translate(213.535 6513.101)"/>
    <rect id="Прямоугольник_208" data-name="Прямоугольник 208" width="2.777" height="12.874" transform="translate(1361.086 6703.745)"/>
    <path id="Контур_184" data-name="Контур 184" d="M1186.022,190a6.391,6.391,0,0,1,3.274.919v2.924a5.108,5.108,0,0,0-3.182-1.14,3.964,3.964,0,0,0,0,7.927,5.353,5.353,0,0,0,3.2-1.1v2.924a6.665,6.665,0,0,1-3.311.9,6.477,6.477,0,0,1-6.639-6.676,6.59,6.59,0,0,1,6.657-6.676" transform="translate(186.614 6513.509)"/>
    <path id="Контур_185" data-name="Контур 185" d="M1214.914,195.739l4.34-5.094h3.311l-5.3,6.069,5.665,6.8h-3.476l-3.954-4.947-.589.662v4.285h-2.777V190.644h2.777Z" transform="translate(165.943 6513.101)"/>
    <rect id="Прямоугольник_209" data-name="Прямоугольник 209" width="121.385" height="0.739" transform="translate(1267.308 6697.055)"/>
    <path id="Контур_186" data-name="Контур 186" d="M1092.038,104.953c.513-.789,1.007-1.545,1.5-2.3.788-1.223,1.571-2.451,2.366-3.67a.451.451,0,0,1,.313-.184c.661-.017,1.322,0,1.983-.012.207,0,.295.074.278.278-.006.073,0,.147,0,.22q0,6.061,0,12.121c0,.509,0,.509-.522.509-.477,0-.956-.015-1.432.006-.281.012-.361-.092-.356-.359.013-.747,0-1.494,0-2.24V102.68l-.087-.035-4.087,6.091-4.065-6.077-.084.021v9.233c-.722,0-1.392.006-2.062-.009-.069,0-.162-.115-.2-.2a.807.807,0,0,1-.011-.291q0-6.079-.007-12.158c0-.355.068-.5.461-.479.561.037,1.126.018,1.689.005a.506.506,0,0,1,.5.269c1.2,1.877,2.405,3.745,3.612,5.615.058.089.125.173.207.287" transform="translate(245.775 6571.045)"/>
    <path id="Контур_187" data-name="Контур 187" d="M1171.991,102.8v.437c0,2.754-.006,5.508.008,8.262,0,.348-.081.472-.443.453-.585-.03-1.172-.008-1.792-.008V98.818c.671,0,1.339-.006,2.007.007.077,0,.17.091.225.162q2.551,3.288,5.1,6.582.752.972,1.5,1.943c.058.075.1.161.152.241l.114-.064V98.843h2.257c.007.144.019.274.019.405,0,4.076,0,8.152.008,12.228,0,.358-.071.514-.462.472a5.951,5.951,0,0,0-1.064,0,.684.684,0,0,1-.647-.315q-3.3-4.286-6.614-8.563c-.086-.111-.185-.212-.278-.318l-.089.044" transform="translate(192.669 6571.019)"/>
    <path id="Контур_188" data-name="Контур 188" d="M1036.527,111.976v-13.1h9.69c0,.63.008,1.261-.014,1.89,0,.056-.2.15-.306.151-.857.013-1.714.007-2.571.007-1.383,0-2.766.006-4.15,0-.275,0-.389.062-.382.366.02.893.018,1.787,0,2.681-.005.291.085.375.375.373,1.971-.011,3.942-.006,5.913,0,.073,0,.146.01.251.018v2.039H1038.8v1.758c0,.453.018.907-.006,1.359-.017.313.1.391.4.39,2.2-.011,4.407-.006,6.611-.006h.506c0,.662.008,1.271-.01,1.88,0,.07-.137.152-.226.2-.058.03-.144.006-.218.006h-9.329Z" transform="translate(276.706 6570.983)"/>
    <path id="Контур_189" data-name="Контур 189" d="M1000.3,104.229h6.262v-.453c0-1.531.007-3.062-.006-4.592,0-.3.07-.409.386-.4.621.024,1.243.007,1.891.007v13.126h-1.562c-.709,0-.709,0-.709-.723,0-1.482-.006-2.963.006-4.445,0-.282-.071-.381-.367-.38q-2.774.018-5.548,0c-.309,0-.361.117-.36.387.01,1.592,0,3.184.011,4.776,0,.3-.081.4-.391.393-.62-.023-1.242-.007-1.887-.007v-13.1h2.274Z" transform="translate(300.99 6571.038)"/>
    <path id="Контур_190" data-name="Контур 190" d="M1257.465,111.773c-.8,0-1.539.009-2.28-.012-.085,0-.2-.16-.244-.268-.344-.8-.69-1.593-1-2.4a.649.649,0,0,0-.72-.495c-1.762.027-3.524.02-5.287,0a.541.541,0,0,0-.59.406c-.335.84-.7,1.669-1.061,2.5-.05.112-.187.258-.288.262-.7.023-1.392.012-2.145.012a3.425,3.425,0,0,1,.1-.331q1.775-4.066,3.553-8.13c.646-1.478,1.3-2.953,1.932-4.436.095-.221.192-.33.448-.321.526.02,1.053-.008,1.578.017a.471.471,0,0,1,.348.219c1.083,2.448,2.15,4.9,3.221,7.354q1.138,2.6,2.276,5.209c.052.119.092.243.157.418m-6.853-10.447-2.221,5.193h4.467l-2.247-5.193" transform="translate(145.942 6571.184)"/>
    <path id="Контур_191" data-name="Контур 191" d="M1140.257,111.775c-.781,0-1.522.007-2.263-.011-.081,0-.19-.138-.232-.234-.377-.863-.751-1.726-1.1-2.6a.441.441,0,0,0-.484-.328q-2.736.016-5.471,0a.491.491,0,0,0-.543.36c-.377.941-.785,1.87-1.182,2.8h-2.342c.141-.351.264-.678.4-1q1.37-3.142,2.746-6.282c.829-1.892,1.663-3.781,2.486-5.675a.351.351,0,0,1,.383-.251c.538.013,1.077.015,1.616,0a.349.349,0,0,1,.375.261q2.389,5.5,4.787,10.994c.239.549.485,1.095.724,1.643.037.086.057.179.1.318m-4.6-5.246-2.208-5.1-.1.031-2.174,5.071Z" transform="translate(219.871 6571.182)"/>
    <path id="Контур_192" data-name="Контур 192" d="M1209.146,98.863h2.282c.008.152.021.294.021.436,0,2.339,0,4.678,0,7.017a3.8,3.8,0,0,0,.98,2.835,3.151,3.151,0,0,0,.576.446,3.263,3.263,0,0,0,4.992-2.448c.029-.3.042-.611.042-.916q.005-3.453,0-6.906v-.458h2.282a1.271,1.271,0,0,1,.026.181c0,2.584.009,5.168-.019,7.751a5.865,5.865,0,0,1-.8,2.979,4.651,4.651,0,0,1-3.187,2.212,7.3,7.3,0,0,1-3.631-.1,4.722,4.722,0,0,1-3.44-3.988,8.621,8.621,0,0,1-.123-1.534c-.012-2.339-.005-4.678-.005-7.017Z" transform="translate(167.831 6570.99)"/>
    <path id="Контур_193" data-name="Контур 193" d="M973.356,98.871c0,.657,0,1.29,0,1.924,0,.26-.2.2-.345.2-1.127,0-2.253.018-3.379-.007-.374-.008-.471.1-.47.47.015,3.33.008,6.66.008,9.99v.5h-2.3V101H962.74V98.871Z" transform="translate(323.246 6570.985)"/>
    <path id="Контур_194" data-name="Контур 194" d="M1286.9,98.869h2.283v10.976h6.885c0,.675,0,1.318-.009,1.96,0,.057-.112.137-.187.16a1.007,1.007,0,0,1-.292.008H1286.9Z" transform="translate(118.787 6570.986)"/>
    <path id="Контур_195" data-name="Контур 195" d="M870.51,76.334h14.363c.528,0,.528,0,.528.512q0,14.4,0,28.8c0,.5,0,.5-.507.5H856.059c-.508,0-.509,0-.509-.494V76.812c0-.477,0-.479.487-.479H870.51M857.77,91.227v12.194c0,.538,0,.539.548.539h24.35c.551,0,.558-.007.558-.55q0-12.175,0-24.35c0-.524-.019-.543-.531-.543H858.27c-.5,0-.5,0-.5.517V91.227" transform="translate(390.854 6585.2)"/>
    <path id="Контур_196" data-name="Контур 196" d="M882.911,103.276c.3-.449.568-.839.826-1.235,1.265-1.935,2.523-3.874,3.8-5.8a.632.632,0,0,1,.448-.225c.722-.024,1.445,0,2.167-.016.311-.007.394.11.392.407-.01,2.229-.005,4.457-.005,6.686q0,3.839,0,7.678c0,.516,0,.517-.532.517-.576,0-1.152-.015-1.727.006-.322.011-.417-.1-.416-.421.011-3.343.007-6.686.007-10.029v-.436l-.113-.056-4.911,7.194-4.863-7.148-.117.041c-.012.15-.036.3-.036.449q0,4.941,0,9.882c0,.517,0,.518-.531.518s-1.053,0-1.58,0c-.49,0-.491,0-.491-.482q0-4.813,0-9.625c0-1.592.006-3.184-.005-4.776,0-.3.083-.412.393-.4.71.018,1.421.016,2.131,0a.587.587,0,0,1,.565.31q2.151,3.307,4.321,6.6c.066.1.147.192.281.366" transform="translate(378.446 6572.797)"/>
  </g>
</svg>


      </div>
      
    </div>
  </div>
</section>

<section class="land-banner">
  <div class="land-banner-w">
    <img src="{{ section.settings.image | image_url }}" alt="">
    <div class="land-banner-info">
      <h1>The Henley T-Shirt</h1>
      <p>The button T that actually upgrades your body.</p>
      <a href="{{ section.settings.video_url }}">TAKE THE STUDIO TOUR
      <svg xmlns="http://www.w3.org/2000/svg" width="18.903" height="21.829" viewBox="0 0 18.903 21.829">
        <path id="video_triag" data-name="video_triag" d="M683.825,322.925l-18.9-10.914v21.829Z" transform="translate(-664.921 -312.01)" fill="#f7b717"></path>
      </svg>
      </a>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "yas-land-product",
    "class": "yas-land-product",
    "settings": [
      {
      "id": "image",
      "type": "image_picker",
      "label": "Image video"
      },
      {
        "id": "video_url",
        "type": "url",
        "label": "video Link"
      },
    ]
  }
{% endschema %}