{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)

    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    - section_id: {String} The ID of the section that contains this card.

    Usage:
    {% render 'yas-collection-card-product' %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper underline-links-hover" id="card_{{ card_product.id }}">
    <div class="card
      card--{{ settings.card_style }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if card_product.featured_media -%}
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
               
                src="{{ card_product.featured_media | image_url: width: 720 }}"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce custom-featured-image-info"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

             
            </div>
            {%- if show_secondary_image -%}
               <div class="collection_all_images_info">
                  {%- for option in card_product.options_with_values -%}
                  	{% if option.name == "Color"  %}
                          {%- for value in option.values -%}
                            <div class="swiper swiper-color_{{ value | escape | downcase | replace: ' ', '_' }}">
                              <!-- Additional required wrapper -->
                              <div class="swiper-wrapper">
                                <!-- Slides -->
                              {%- for image in card_product.images offset:1 -%}
                                {% assign imageAlt = image.alt | escape %}
                                {% assign nameColor = value | escape %}
                                {%- if nameColor == imageAlt and image.attached_to_variant? != true -%}
                                  <div class="swiper-slide">
                                    <a href="{{ card_product.url }}"><img src="{{ image.src | img_url: '300x' }}" srcset="{{ image.src | img_url: '900x' }} 2x" loading="lazy" class="testingimage" alt="{{ image.alt | escape }}"></a>
                                    <div class="swiper-lazy-preloader"></div>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                               </div>
                              <div class="swiper-button-prev"></div>
                              <div class="swiper-button-next"></div>
                    		</div>
                  		{%- endfor -%}
                  	{% endif %}
                  {%- endfor -%}
                </div>
              {%- endif -%}
          </div>

          
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading"{% if card_product.featured_media == nil and settings.card_style == 'standard' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
              <a href="{{ card_product.url }}" class="full-unstyled-link">
                {{ card_product.title | escape }} 
              </a>
            </h3>
          </div>
          <div class="card__badge {{ settings.badge_position }}">
            {%- if card_product.available == false -%}
              <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">{{ 'products.product.on_sale' | t }}</span>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"{% if card_product.featured_media or settings.card_style == 'card' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
          <div class="card_yas_size">
            
            {% for option in card_product.options_with_values %}
              {% case option.name %}
                  {% when 'Color' %}
                      {% for name_color in option.values -%}
                        <div class="card_yas_size_color-otions card_yas_size_color-{{ name_color | escape | downcase | replace: ' ', '_' }} {% if forloop.first %}card_yas_size_color-otions_active{% endif %}">
                        {% for variant in card_product.variants -%}
                          {% if name_color == variant.option1 %}
                            <span data-variantid="{{ variant.id }}" data-name="{{ card_product.title }} - {{ variant.title }}" data-aviable="{%if variant.available %}true{% else %}false{% endif %}">
                            <product-form class="product-form">
                              <div class="product-form__error-message-wrapper" role="alert" hidden>
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                </svg>
                                <span class="product-form__error-message"></span>
                              </div>
                              {%- assign product_form_id = 'product-form-' | append: section.id -%}
                              {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                <input type="hidden" name="id" value="{{ variant.id }}" disabled>
                                <div class="product-form__buttons">
                                  <button
                                    type="submit"
                                    name="add"
                                    class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                  {% if variant.available == false %}disabled{% endif %}
                                  >
                                      {{ variant.option2 }}
                                      <div class="loading-overlay__spinner hidden">
                                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                        </svg>
                                      </div>
                                  </button>
                                  {%- if block.settings.show_dynamic_checkout -%}
                                    {{ form | payment_button }}
                                  {%- endif -%}
                                </div>
                              {%- endform -%}
                            </product-form>
                           </span>
                          {% endif %}
                        {%- endfor %}
                        </div>
                      {%- endfor %}
                  
              {% endcase %}
            {% endfor %}
          </div>
          <div class="yas-card-title_wrapp">
            <a href="{{ card_product.url }}" class="full-unstyled-link">
              {{ card_product.title | escape }} 
              {% comment %}
               {{ card_product.title| split: "/" | first}}
              {% endcomment %}
            </a>
            <span class="product_small_desc_info">
              {{ card_product.type }}
            </span>
          </div>
          </h3>

<!----start collection variant option---------->

{%- unless card_product.has_only_default_variant -%}
 


          
  {%- for option in card_product.options_with_values -%}
{% if option.name == "Color"  %}
      <fieldset id="ProductSelect-option-{{ forloop.index0 }}" class="collection-variant-{{ option.name}}-{{ forloop.index0 }}" name="{{ option.name | handleize }}">
  {% comment %}      
  <legend>
          {{ option.name | escape }}
        </legend>
  {% endcomment %}
        {%- for value in option.values limit: 3 -%}
          
          {% assign option_color_name = value | escape %}
          {% capture get_src_img_variant %}
            {%- for variant in card_product.variants -%}
                {% assign variant_img_previe = variant.image.src | image_url %}
                {% assign variant_color_val = variant.option1 | escape %}
                {% if variant_color_val == option_color_name %}
                  {{ variant_img_previe }}
                {% break %}
                {% endif %}
            {%- endfor -%}
          {% endcapture %}

        
         {%- assign variant_label_state = true -%}
          {%- if product.options.size == 1 -%}
            {%- unless product.variants[forloop.index0].available -%}
              {%- assign variant_label_state = false -%}
            {%- endunless -%}
          {%- endif -%}
          <input type="radio"
            {% if option.selected_value == value %} checked="checked"{% endif %}
            {% unless variant_label_state %} disabled="disabled"{% endunless %}
            value="{{ value | escape }}"
            data-index="option{{ forloop.index }}"
            name="{{ option.name | handleize }}-{{ card_product.id }}"
            image-variant="{{ get_src_img_variant | escape | strip  }}"
            color-variant="{{ value | escape | downcase | replace: ' ', '_' }}"
            onclick="changeImageColor($(this));"
            id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
<!--           <label for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
            {{ value | escape }}
          </label> -->
        {%- endfor -%}
        {%- assign count_color_variant = option.values.size | minus: 3 -%}
        {% if count_color_variant > 0 %}
          <a href="{{ card_product.url }}">+{{ count_color_variant }} more</a>
        {% endif %}
      </fieldset>
{% endif %}
  {%- endfor -%}
{%- endunless -%}
<!----end collection variant option---------->


          <div class="card-information">
            {% render 'price', product: card_product, price_class: '' %} 
          </div>
        </div>

  
        <div class="card__badge {{ settings.badge_position }}">
          {%- if card_product.available == false -%}
            <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">{{ 'products.product.on_sale' | t }}</span>
          {%- endif -%}
        </div>

        
        
      </div>
    </div>
  </div>





