<style>
   #shopify-section-{{section.id}} .custom-product-video-wrapper:before{
    width: 100%;height: 100%;position: absolute;
    {% if section.settings.overlay_show %}
    content: "";
    background-color: rgba(0,0,0, {{section.settings.overlay_opacity | prepend: '0.' }});
    opacity: 1;
    {% else %}
    content: none !important;
    {% endif %}  
  }
  #shopify-section-{{section.id}}{
    max-height: 662px;
    overflow: hidden;
    position: relative;
  }

  #shopify-section-{{section.id}} video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    min-height: 456px;
  }
  #shopify-section-{{section.id}} .video-color-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 340px;
  }
  #shopify-section-{{section.id}} h2{
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: "CentraNo2-Bold";
    font-size: 45px;
  }
  #shopify-section-{{section.id}} a{
    letter-spacing: 3px;
    color: #F7B717;
    border: 5px solid #FFC200;
    font-family: "CentraNo2-Bold";
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    margin: 45px auto 0;
    transition: all 0.3s ease;
    line-height: normal;
  }
  #shopify-section-{{section.id}} a:hover{
    text-decoration: none;
    background-color: #FFC200;
    color: #fff;
  }
  #shopify-section-{{section.id}} a svg{
    margin-left: 25px;
  }
  #shopify-section-{{section.id}} a path{
    transition: all 0.3s ease;
  }
  #shopify-section-{{section.id}} a:hover path{
    fill: #fff;
  }
  #shopify-section-{{section.id}} .video-color-block{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #shopify-section-{{section.id}} .video-color-block i{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0 2.5px;
  }
  @media (max-width: 989px){

    #shopify-section-{{section.id}} h2{
      font-size: 25px;
    }
    #shopify-section-{{section.id}} a{
      font-size: 14px;
      letter-spacing: 2.1px;
      padding: 8px 10px;
    }
    #shopify-section-{{section.id}} a svg{
      margin-left: 10px;
    }
  }
</style>




<video class="video_not-yas" poster="{{ section.settings.image | image_url }}" autoplay="autoplay" loop="loop" muted="" defaultmuted="" playsinline="">
	  <source src="{{ section.settings.text-box }}" type="video/mp4">
</video>
<div class="video-color-wrapper">
  <h2 class="video-color_title_info">{{ section.settings.title }}</h2>
  <div class="video-color-block">
    
                  {% if section.settings.show_color1 %}<i style="background-color: {{ section.settings.color1 }};"></i>{% endif %}
                  {% if section.settings.show_color2 %}<i style="background-color: {{ section.settings.color2 }};"></i>{% endif %}
                  {% if section.settings.show_color3 %}<i style="background-color: {{ section.settings.color3 }};"></i>{% endif %}
                  {% if section.settings.show_color4 %}<i style="background-color: {{ section.settings.color4 }};"></i>{% endif %}
                  {% if section.settings.show_color5 %}<i style="background-color: {{ section.settings.color5 }};"></i>{% endif %}
                   
  </div>
</div>

{% schema %}
{
  "name": "Yas Video color",
  "class": "yas_video-color-sec",
  "class": "video-color",
  "settings": [
    {
      "type": "header",
      "content": "Overlay setting"
    },
    {
      "type": "checkbox",
      "id": "overlay_show",
      "default": true,
      "label": "Show overlay?"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 99,
      "step": 1,
      "default": 80,
      "label": "Overlay Transparent"
    },    
    {
       "type": "header",
       "content": "Other setting"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image background"
    },
    {
      "id": "text-box",
      "type": "url",
      "label": "Video Source"
    },
     {
      "id": "title",
      "type": "text",
      "label": "Video Heading"
    },
          {
            "type": "header",
            "content": "Color setting"
          },
          {
          "type": "checkbox",
          "id": "show_color1",
          "default": true,
          "label": "Show Color 1"
          },
          {
            "type": "color",
            "id": "color1",
            "label": "Color 1",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color2",
          "default": true,
          "label": "Show Color 2"
          },
          {
            "type": "color",
            "id": "color2",
            "label": "Color 2",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color3",
          "default": true,
          "label": "Show Color 3"
          },
          {
            "type": "color",
            "id": "color3",
            "label": "Color 3",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color4",
          "default": true,
          "label": "Show Color 4"
          },
          {
            "type": "color",
            "id": "color4",
            "label": "Color 4",
            "default": "#FFFFFF"
          },
          {
          "type": "checkbox",
          "id": "show_color5",
          "default": true,
          "label": "Show Color 5"
          },
          {
            "type": "color",
            "id": "color5",
            "label": "Color 5",
            "default": "#FFFFFF"
          }
  ]
  ,
  "presets": [
    {
      "name": "Video color"
    }
  ]
}
{% endschema %}