<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
<style>
  #shopify-section-{{section.id}}{
    padding-top: 100px;
  }
  #shopify-section-{{section.id}} .color-block{
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #shopify-section-{{section.id}} .color-block i{
    width: 41.64px;
    height: 41.64px;
    margin: 0 2.25px;
    border-radius: 50%;
  }
   #shopify-section-{{section.id}} h2{
    text-align: center;
    color: #B59E5F;
    font-family: "CentraNo2-Bold";
    font-size: 45px;
    line-height: 50px; 
    letter-spacing: 0px; 
    margin-bottom: 30px;
  }
   #shopify-section-{{section.id}} p{
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: 'Source Serif Pro' !important;
    font-style: italic;
    font-weight: 600;
    max-width: 760px;
    font-size: 18px;
    line-height: 22px; 
    margin: 0 auto;
  }
  #shopify-section-{{section.id}} .yas-reinv-item-wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 105px 0 80px;
    position: relative;
  }
 
  #shopify-section-{{section.id}} .yas-reinv-item-wrapp > svg{
    margin: 0 55px;
  }
  @media (max-width: 1280px){
    #shopify-section-{{section.id}} .yas-reinv-item-wrapp > svg{
      margin: 0 4rem;
    }
    #shopify-section-{{section.id}} .yas-reinv-item-wrapp{
      padding: 90px 25px 80px;
    }
  }
  @media (max-width: 896px){
    #shopify-section-{{section.id}} h2{
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 1.75px;
      margin-bottom: 25px;
    }
    #shopify-section-{{section.id}} p{
      font-size: 14px;
      line-height: 18px;
      max-width: 312px;
    }
    #shopify-section-{{section.id}} .yas-reinv-item-wrapp{
      padding: 40px 0 30px;
    }
    #shopify-section-{{section.id}} .yas-reinv-item-wrapp > svg{
      margin: 0 20px;
      width: 10px;
      height: 10px;
    }
    #shopify-section-{{section.id}} .yas-reinv-item-wrapp > svg line{
      stroke-width: 4;
    }
    #shopify-section-{{section.id}} .yas-reinv_item svg{
      width: auto;
      height: 30px;
    }
  }
</style>
<div class="yas-reinv-wrapp">

  {% assign collection_meta = collection.metafields.custom.color_product_look_template.value %}

  <div class="color-block">
        {% for color in collection_meta %}
          <i class="yas-color_{{ color | strip | escape | downcase | replace: ' ', '_' }}"></i>
        {% endfor %}
  </div>
  
  <h2>{{ section.settings.title }}</h2>
  <p>{{ collection.description }}</p>
  <div class="yas-reinv-item-wrapp">
    <div class="yas-reinv_item">
      <svg xmlns="http://www.w3.org/2000/svg" width="61.36" height="108.755" viewBox="0 0 61.36 108.755">
        <path id="Контур_28" data-name="Контур 28" d="M263.069,768.059c0-.086-.5-8.47-.715-20.824-.217-12.435-5.207-66.452-5.256-67l-.009-.065-2.49-17.21a1.28,1.28,0,0,0-1.258-1.1v-.021H211.452a1.283,1.283,0,0,0-1.269,1.1l-2.49,17.212-.009.063c-.049.545-5.038,54.565-5.256,67-.215,12.354-.709,20.738-.715,20.822a1.281,1.281,0,0,0,1.186,1.354l16.351,1.183a1.28,1.28,0,0,0,1.353-1.038l11.786-61.589,11.79,61.609a1.281,1.281,0,0,0,1.258,1.041.871.871,0,0,0,.094,0l16.349-1.181a1.281,1.281,0,0,0,1.188-1.354m-8.522-87.552c.03.33.262,2.862.615,6.776-.549-1.062-1.071-2.137-1.555-3.224a62.988,62.988,0,0,1-4.176-12.943h3.759Zm-1.73-11.954h-9.048v-4.124h8.451Zm-19.148,2.563h2.515v16.232a3.4,3.4,0,0,1-2,2.951l-.517.271Zm0-6.687h7.537v4.126h-7.537Zm-2.565,4.124h-7.461v-4.126H231.1Zm-10.027-4.124v4.124h-9.113l.594-4.124Zm-9.485,6.687h3.738a63.162,63.162,0,0,1-4.185,12.98q-.716,1.6-1.525,3.161c.355-3.911.587-6.439.619-6.77Zm6.707,96.817-13.957-1.008c.147-2.8.482-10.034.652-19.665.15-8.545,2.583-37.019,4.084-53.915l.01.009a65.616,65.616,0,0,0,8.861-22.238H231.1v29.905Zm28.186.021-12.816-66.971v-7.519l1.705-.89a6,6,0,0,0,3.374-5.226V671.117h8.061a65.449,65.449,0,0,0,8.854,22.2l.037-.023c1.5,16.883,3.939,45.431,4.089,53.986.168,9.632.505,16.87.652,19.667Z" transform="translate(-201.712 -661.843)" fill="#fff"/>
      </svg>
    </div>
     <svg xmlns="http://www.w3.org/2000/svg" width="37.417" height="37.417" viewBox="0 0 37.417 37.417">
        <g  transform="translate(-1035.551 -1190.895)">
          <line  y2="37.417" transform="translate(1054.26 1190.895)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
          <line  x1="37.417" transform="translate(1035.551 1209.604)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
        </g>
     </svg>
    <div class="yas-reinv_item">
      <svg xmlns="http://www.w3.org/2000/svg" width="133.829" height="108.756" viewBox="0 0 133.829 108.756">
        <path id="Контур_29" data-name="Контур 29" d="M380.768,679.035a1.283,1.283,0,1,1-1.284,1.284,1.285,1.285,0,0,1,1.284-1.284m0,7.012a1.283,1.283,0,1,0,1.283,1.284,1.285,1.285,0,0,0-1.283-1.284m0,7.012a1.283,1.283,0,1,0,1.283,1.284,1.285,1.285,0,0,0-1.283-1.284m88.288,37.068c.1,17.067-.411,30.017-.86,37.873a1.282,1.282,0,0,1-1.131,1.2l-11.793,1.389c-.051,0-.1.009-.15.009a1.283,1.283,0,0,1-1.283-1.284V737.093c0-2.083-.084-4.2-.248-6.277a50.27,50.27,0,0,0-1.475-8.685l-2.628-10.049v55.529A2.99,2.99,0,0,1,446.5,770.6H356.131a2.99,2.99,0,0,1-2.986-2.988V713.428l-16.987-5.04a1.285,1.285,0,0,1-.881-1.539l6.151-24.7a1.4,1.4,0,0,1,.082-.227,19.067,19.067,0,0,1,7.923-11.673,13.619,13.619,0,0,1,1.947-1.083c.026-.01.052-.023.08-.033l18.917-7.114a2.786,2.786,0,0,1,2.27.145c2.067,1.078,8.407,2.681,12.92,2.681,3.252,0,10.109-1.064,12.922-2.53a2.784,2.784,0,0,1,2.266-.143l18.921,7.114c.028.01.054.021.08.033a13.42,13.42,0,0,1,1.77.97,33.929,33.929,0,0,0,9.606-2.326,2.786,2.786,0,0,1,2.27-.143l6,2.282,11.645,4.543a.537.537,0,0,1,.068.026,12.666,12.666,0,0,1,1.851,1.033,18.107,18.107,0,0,1,7.573,11.318c.4,1.611,8.084,32.717,8.513,43.062v.045m-41.662-53.689a9.167,9.167,0,0,0,3.64-5.644,39.448,39.448,0,0,1-6.757,1.7,18.96,18.96,0,0,1,3.117,3.947m-29.009-11.292a42.729,42.729,0,0,1-12.817,2.261A41.727,41.727,0,0,1,372.726,665c.741,4.9,6.216,8.718,12.842,8.718,6.558,0,11.987-3.741,12.817-8.569m16.621,102.888a.423.423,0,0,0,.421-.423V698.253a1.283,1.283,0,0,1,2.565,0V710.9l15.08-4.475-5.884-23.506-.012-.047a16.875,16.875,0,0,0-1.351-3.933.881.881,0,0,1-.059-.122,16.4,16.4,0,0,0-5.5-6.292,11,11,0,0,0-1.532-.858L401,665c-.682,5.978-6.67,10.747-14.149,11.238l0,.042v21.014a1.282,1.282,0,1,1-2.563,0V676.28l0-.042c-7.538-.5-13.565-5.337-14.166-11.381L352.4,671.52a10.654,10.654,0,0,0-1.532.856,16.532,16.532,0,0,0-6.913,10.348,1.2,1.2,0,0,1-.107.306l-5.789,23.249,15.082,4.473v-12.5a1.283,1.283,0,0,1,2.565,0v69.358a.423.423,0,0,0,.421.423h58.876ZM465.7,766.78c.43-7.9.895-20.382.8-36.615-.432-10.161-8.361-42.226-8.442-42.55l-.01-.044a15.564,15.564,0,0,0-6.507-9.745,10.127,10.127,0,0,0-1.445-.807l-11.6-4.524-4.84-1.842a11.641,11.641,0,0,1-5.078,8.108,19.812,19.812,0,0,1,1.117,3.561L435.858,707a1.287,1.287,0,0,1-.879,1.543l-16.987,5.038v54.034a2.842,2.842,0,0,1-.033.423H446.5a.424.424,0,0,0,.423-.423V702.1a1.282,1.282,0,0,1,2.523-.322l5.15,19.705a52.616,52.616,0,0,1,1.55,9.129c.171,2.148.255,4.327.255,6.479v30.781l9.293-1.094" transform="translate(-335.239 -661.843)" fill="#fff"/>
      </svg>
    </div>
     <svg xmlns="http://www.w3.org/2000/svg" width="37.417" height="37.417" viewBox="0 0 37.417 37.417">
        <g  transform="translate(-1035.551 -1190.895)">
          <line  y2="37.417" transform="translate(1054.26 1190.895)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
          <line  x1="37.417" transform="translate(1035.551 1209.604)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
        </g>
     </svg>
    <div class="yas-reinv_item">
      <svg xmlns="http://www.w3.org/2000/svg" width="100.284" height="108.675" viewBox="0 0 100.284 108.675">
        <g id="Сгруппировать_158" data-name="Сгруппировать 158" transform="translate(-872.137 -1156.549)">
          <path id="Контур_30" data-name="Контур 30" d="M540.087,686.862H523.639a1.282,1.282,0,0,0-1.283,1.283V706.9a1.282,1.282,0,0,0,1.283,1.283h16.448a1.283,1.283,0,0,0,1.284-1.283V688.145a1.283,1.283,0,0,0-1.284-1.283m-1.281,18.757H524.921v-16.19h13.885Z" transform="translate(390.415 513.364)" fill="#fff"/>
          <path id="Контур_31" data-name="Контур 31" d="M540.087,686.862H523.639a1.282,1.282,0,0,0-1.283,1.283V706.9a1.282,1.282,0,0,0,1.283,1.283h16.448a1.283,1.283,0,0,0,1.284-1.283V688.145a1.283,1.283,0,0,0-1.284-1.283m-1.281,18.757H524.921v-16.19h13.885Z" transform="translate(390.415 513.364)" fill="#fff"/>
          <path id="Контур_32" data-name="Контур 32" d="M599.382,730.458c0-.021,0-.045-.005-.068a199.428,199.428,0,0,0-5.662-32.972c-.3-1.148-.587-2.263-.863-3.338-2.188-8.51-3.437-13.043-5.557-14.572-4.9-3.944-17.364-7.535-19.665-8.173l-3.662-8.063a2.238,2.238,0,0,0-.2-.451,1.963,1.963,0,0,0-1.669-.956H536.364a1.955,1.955,0,0,0-1.644.956,2.06,2.06,0,0,0-.2.451l-3.664,8.063c-2.3.638-14.76,4.229-19.664,8.173-2.12,1.529-3.369,6.062-5.558,14.572-.276,1.075-.563,2.189-.863,3.338a199.645,199.645,0,0,0-5.663,32.972c0,.023,0,.047,0,.068-.075,12.04.751,21.942,1.352,29.175.222,2.674.416,4.984.528,6.964a1.287,1.287,0,0,0,1.139,1.2l12.01,1.344h0c.042,0,.086.005.128.005l.014,0c.042,0,.086,0,.128-.007l.021-.005c.033,0,.066-.009.1-.014a.377.377,0,0,0,.042-.01l.077-.017.047-.017c.023-.007.044-.014.065-.023s.035-.014.052-.023.037-.019.056-.026l.051-.03.054-.031a.381.381,0,0,0,.045-.035.2.2,0,0,0,.052-.037l.04-.031.051-.047.037-.035c.017-.016.031-.035.049-.052l.031-.037.044-.061.026-.037a.583.583,0,0,0,.04-.065l.023-.037c.012-.023.023-.049.033-.073l.019-.037c.01-.026.017-.052.026-.079a1.666,1.666,0,0,0,.044-.156.221.221,0,0,0,.01-.059c0-.019.009-.04.01-.059v0l0-.066c0-.023,0-.045,0-.068l0-.007v-4.3a15.642,15.642,0,0,0,13,6.974h20.5a1.117,1.117,0,0,1,.353,0h20.5a15.648,15.648,0,0,0,13-6.974v4.3a.439.439,0,0,0,.005.068.428.428,0,0,0,0,.066v0c0,.019.007.04.009.059a.57.57,0,0,0,.01.059.642.642,0,0,0,.021.082.533.533,0,0,0,.023.073.713.713,0,0,0,.028.079l.017.037c.01.025.023.051.035.073l.021.035a.506.506,0,0,0,.042.066l.024.037a.735.735,0,0,0,.045.061l.031.035a.349.349,0,0,0,.049.054.314.314,0,0,0,.035.035l.049.047c.016.01.03.023.042.031l.052.04.047.031a.51.51,0,0,1,.052.031l.051.03.058.026c.016.009.033.014.051.023s.044.016.063.023l.051.017.077.017a.222.222,0,0,0,.04.01c.033.005.066.01.1.014l.021.005c.042,0,.084.007.128.007l.012,0c.044,0,.084,0,.126-.005h.005l12.01-1.344a1.281,1.281,0,0,0,1.138-1.2c.114-1.98.306-4.29.53-6.964.6-7.233,1.426-17.135,1.354-29.175m-8.146-32.392a197.128,197.128,0,0,1,5.581,32.446c.066,11.157-.65,20.487-1.23,27.522l-4.016.454v-5.38a1.283,1.283,0,0,0-2.565,0v5.667l-3.516.395v-2.817q.063-.676.066-1.368c.042-8.314.091-18.475.133-27.048.037-7.026.065-12.987.079-15.982a16.433,16.433,0,0,0-.542-4.29,41.077,41.077,0,0,1-1.291-11.681,34.564,34.564,0,0,1,3.032-12.634,85.286,85.286,0,0,1,3.4,11.369q.414,1.62.867,3.348m-38.92-17.951-.475.51v-.07l.472-.446Zm13.167-7.306c-.517,1.553-3.332,9.986-4.681,13.759-1.143-1.136-2.747-2.7-4.043-3.954-.949-.919-1.837-1.777-2.49-2.4-.1-.1-.194-.185-.281-.273,1.674-2.439,6.277-9.2,8.72-13.238Zm-4.416-8.377c-2.212,3.841-7.9,12.174-9.429,14.4h-4.786c-1.526-2.221-7.217-10.551-9.431-14.4ZM535.783,666.7c2.441,4.042,7.046,10.8,8.72,13.238-.089.087-.182.173-.283.273-.652.627-1.539,1.485-2.488,2.4-1.3,1.255-2.9,2.819-4.045,3.954-1.349-3.773-4.162-12.206-4.681-13.759Zm-34.111,63.814a196.745,196.745,0,0,1,5.581-32.446q.453-1.727.865-3.348a85.319,85.319,0,0,1,3.4-11.37,34.48,34.48,0,0,1,3.03,12.636,41.155,41.155,0,0,1-1.29,11.681,16.583,16.583,0,0,0-.545,4.29c.017,2.995.045,8.955.079,15.982.042,8.573.093,18.734.135,27.048,0,.461.026.917.068,1.368l0,.016v2.8l-3.516-.395v-5.667a1.283,1.283,0,0,0-2.565,0v5.38l-4.014-.454c-.584-7.035-1.3-16.365-1.23-27.522m1.445,30.129,9.88,1.111v4.68l-9.515-1.062c-.094-1.426-.22-3-.365-4.729m12.377-5.669c-.04-8.314-.091-18.474-.133-27.046-.033-7.026-.061-12.987-.079-15.985a13.98,13.98,0,0,1,.46-3.622,43.782,43.782,0,0,0,1.373-12.431,36.483,36.483,0,0,0-3.818-14.759c4.342-3.124,14.063-6.111,17.416-7.084.884,2.651,4.066,12.171,5.038,14.7A1.7,1.7,0,0,0,537,689.8a1.8,1.8,0,0,0,.346.035,1.7,1.7,0,0,0,1.22-.516c1.594-1.639,6.712-6.575,8.122-7.928h1.272v86.583h-19.4a13.1,13.1,0,0,1-13.072-13m54.427,13H550.526V681.393h1.27c1.41,1.353,6.53,6.289,8.124,7.928a1.7,1.7,0,0,0,1.22.516,1.815,1.815,0,0,0,.346-.035,1.7,1.7,0,0,0,1.25-1.061c.971-2.525,4.154-12.045,5.038-14.7,3.353.973,13.072,3.96,17.418,7.084a36.443,36.443,0,0,0-3.82,14.759,43.782,43.782,0,0,0,1.373,12.431,13.98,13.98,0,0,1,.46,3.622c-.016,3-.044,8.959-.08,15.985-.04,8.573-.091,18.732-.133,27.046a13.1,13.1,0,0,1-13.071,13m15.569-1.543v-4.68l9.878-1.111c-.141,1.73-.267,3.3-.363,4.729Z" transform="translate(373.035 494.682)" fill="#fff"/>
        </g>
      </svg>
    </div>
     <svg xmlns="http://www.w3.org/2000/svg" width="37.417" height="37.417" viewBox="0 0 37.417 37.417">
        <g  transform="translate(-1035.551 -1190.895)">
          <line  y2="37.417" transform="translate(1054.26 1190.895)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
          <line  x1="37.417" transform="translate(1035.551 1209.604)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
        </g>
     </svg>
    <div class="yas-reinv_item">
      <svg xmlns="http://www.w3.org/2000/svg" width="95.102" height="108.755" viewBox="0 0 95.102 108.755">
        <path id="Контур_27" data-name="Контур 27" d="M681.21,715h13.4a1.282,1.282,0,0,0,1.283-1.283V698.443a1.282,1.282,0,0,0-1.283-1.281h-13.4a1.282,1.282,0,0,0-1.281,1.281v15.279A1.282,1.282,0,0,0,681.21,715m1.284-15.278H693.33v12.714H682.494Zm41.1-2.565h-13.4a1.28,1.28,0,0,0-1.281,1.281v15.279A1.281,1.281,0,0,0,710.187,715h13.4a1.281,1.281,0,0,0,1.281-1.283V698.443a1.28,1.28,0,0,0-1.281-1.281m-1.284,15.278H711.47V699.725h10.836Zm27.583,6.265v-.019c-1.043-20.226-8.382-33.933-9.214-35.425a7.233,7.233,0,0,0-3.135-2.985l-19.019-9.4L717.745,663c-.005-.044-.01-.086-.019-.126l0-.005a1.391,1.391,0,0,0-.185-.449l-.009-.01c-.014-.021-.031-.044-.045-.065l-.028-.037-.031-.031a.546.546,0,0,0-.054-.059l0,0a1.283,1.283,0,0,0-.851-.369h-.047l0,0H688.334l0,0h-.068c-.021,0-.042,0-.061.007l-.012,0A1.283,1.283,0,0,0,687.057,663l-.778,7.872-19.017,9.4a7.233,7.233,0,0,0-3.135,2.985c-.833,1.492-8.171,15.2-9.214,35.425l0,.019c-.328,9.317.713,19.061,1.548,26.889.1.94.2,1.847.288,2.719a43.738,43.738,0,0,0,3.236,12.594c.052.117.091.213.128.294-.012,1.377-.051,6.355-.005,7.185a1.284,1.284,0,0,0,1.181,1.209l10.112.79a.938.938,0,0,0,.1,0,1.287,1.287,0,0,0,1.284-1.291l-.049-7.893c.2-.421.416-.83.624-1.228a20.707,20.707,0,0,0,1.073-2.268,8.585,8.585,0,0,0,2.56,3.918l0,7.69a1.283,1.283,0,0,0,1.283,1.284h48.256a1.286,1.286,0,0,0,1.283-1.284l0-7.69a8.585,8.585,0,0,0,2.558-3.918,21.284,21.284,0,0,0,1.073,2.268c.206.4.421.807.625,1.228l-.049,7.893a1.284,1.284,0,0,0,1.283,1.291.939.939,0,0,0,.1,0l10.114-.79a1.284,1.284,0,0,0,1.181-1.209c.045-.83.005-5.808-.005-7.185.033-.08.075-.171.126-.294a43.8,43.8,0,0,0,3.238-12.594c.089-.872.187-1.779.287-2.719.837-7.828,1.878-17.572,1.548-26.889M689.5,664.41h11.622v7.43a84.139,84.139,0,0,1-12.239-1.183Zm14.185,0H715.3l.619,6.245a84.84,84.84,0,0,1-12.241,1.185ZM662.651,767.126c0-1.129.005-2.885.016-4.5l7.517.584.026,4.5Zm8.435-8.337c-.262.5-.535,1.019-.8,1.588a1.371,1.371,0,0,0-.087.267l-7.8-.608c-.017-.037-.037-.082-.059-.135a41.175,41.175,0,0,1-3.047-11.86c-.089-.867-.187-1.781-.286-2.723-.828-7.745-1.858-17.383-1.536-26.512.825-15.956,5.98-29.07,8.893-34.3a4.926,4.926,0,0,1,.5-.727c2.081,1.1,6.638,4.494,6.49,13v.061a104.006,104.006,0,0,1-.5,11.613l-.005.084c-.007.192-.694,19.295-.631,34.448,0,.307.011.708.028,1.176l.238,10.572a9.333,9.333,0,0,1-1.4,4.051M675.611,752a62.527,62.527,0,0,1-.8-7.876l-.026-1.155c-.061-14.759.591-33.283.627-34.293a104.869,104.869,0,0,0,.512-11.882c.108-6.593-2.371-10.549-4.472-12.709a14.126,14.126,0,0,0-2.28-1.9l18.495-9.142a84.593,84.593,0,0,0,13.452,1.359v85.23h-22.5c-.709-.5-2.055-2.147-3.007-7.634m3.946,10.2h21.561v5.833H679.555Zm24.125,0h21.563v5.833H703.682Zm22.5-2.565h-22.5V674.405a86.469,86.469,0,0,0,13.453-1.358l18.493,9.142a14.109,14.109,0,0,0-2.279,1.9c-2.1,2.16-4.58,6.116-4.475,12.709a105,105,0,0,0,.516,11.882c.035,1.01.685,19.532.626,34.293l-.024,1.155a62.6,62.6,0,0,1-.8,7.876c-.954,5.487-2.3,7.136-3.009,7.634m15.968,7.49-7.558.591.026-4.5,7.517-.584c.01,1.611.019,3.367.014,4.5m3.642-21.806c-.1.942-.2,1.856-.288,2.723a41.179,41.179,0,0,1-3.047,11.86c-.021.052-.04.1-.058.135l-7.8.608a1.367,1.367,0,0,0-.089-.267c-.266-.57-.535-1.089-.8-1.588a9.424,9.424,0,0,1-1.4-4.051l.241-10.572c.017-.468.026-.869.026-1.176.061-15.154-.622-34.256-.629-34.448l-.005-.084a104.535,104.535,0,0,1-.507-11.613c0-.023,0-.04,0-.061-.149-8.517,4.416-11.905,6.492-13a4.571,4.571,0,0,1,.5.727c2.916,5.232,8.07,18.348,8.9,34.3.322,9.129-.708,18.767-1.536,26.512" transform="translate(-654.849 -661.843)" fill="#fff"/>
      </svg>
    </div>
     <svg xmlns="http://www.w3.org/2000/svg" width="37.417" height="37.417" viewBox="0 0 37.417 37.417">
        <g  transform="translate(-1035.551 -1190.895)">
          <line  y2="37.417" transform="translate(1054.26 1190.895)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
          <line  x1="37.417" transform="translate(1035.551 1209.604)" fill="none" stroke="#ffc200" stroke-miterlimit="10" stroke-width="2"/>
        </g>
     </svg>
    <div class="yas-reinv_item">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90.669" height="108.717" viewBox="0 0 90.669 108.717">
        <defs>
          <clipPath id="clip-path-reinv">
            <rect id="Прямоугольник_121" data-name="Прямоугольник 121" width="90.669" height="108.717" fill="none"/>
          </clipPath>
        </defs>
        <g id="Сгруппировать_301" data-name="Сгруппировать 301" transform="translate(0 0)">
          <g id="Сгруппировать_300" data-name="Сгруппировать 300" transform="translate(0 0)" clip-path="url(#clip-path-reinv)">
            <path id="Контур_431" data-name="Контур 431" d="M46.529,36.019V32.339a3.745,3.745,0,0,0-3.3-3.713l-.108-1.249A3.749,3.749,0,0,0,45.6,22.842l-.952-3.554a3.747,3.747,0,0,0-4.231-2.721l-.538-1.155a3.751,3.751,0,0,0,.96-4.835L39,7.392a3.745,3.745,0,0,0-5.11-1.37l-.115.067c-.06.035-.119.072-.176.108l-.994-.8a3.714,3.714,0,0,0,.324-1.519V3.741A3.745,3.745,0,0,0,29.189,0H25.509a3.745,3.745,0,0,0-3.741,3.741v.133a3.712,3.712,0,0,0,.338,1.552l-.953.772q-.086-.057-.176-.11l-.115-.067a3.746,3.746,0,0,0-5.11,1.37l-1.839,3.186a3.749,3.749,0,0,0,.959,4.835l-.538,1.155A3.749,3.749,0,0,0,10.1,19.288l-.952,3.554a3.749,3.749,0,0,0,2.484,4.535l-.108,1.249a3.745,3.745,0,0,0-3.3,3.713v3.679a3.746,3.746,0,0,0,3.3,3.715l.108,1.249a3.744,3.744,0,0,0-2.484,4.534L10.1,49.07a3.759,3.759,0,0,0,3.613,2.774,3.63,3.63,0,0,0,.617-.055l.539,1.156a3.75,3.75,0,0,0-.959,4.835l1.839,3.187a3.743,3.743,0,0,0,5.11,1.369l.115-.067c.06-.034.119-.071.176-.108l.953.771a3.722,3.722,0,0,0-.338,1.553v.132a3.745,3.745,0,0,0,3.741,3.741h3.679a3.745,3.745,0,0,0,3.741-3.741v-.132a3.72,3.72,0,0,0-.324-1.52l.994-.8c.057.038.116.074.176.108l.115.067A3.743,3.743,0,0,0,39,60.968l1.84-3.187a3.752,3.752,0,0,0-.96-4.835l.539-1.156a3.642,3.642,0,0,0,.617.055A3.757,3.757,0,0,0,44.65,49.07l.952-3.554a3.747,3.747,0,0,0-2.484-4.534l.108-1.249a3.746,3.746,0,0,0,3.3-3.715m-1.611-3.679v3.679a2.133,2.133,0,0,1-1.546,2.047l.09-1.034a.805.805,0,0,0-1.6-.141l-.093,1.062a2.13,2.13,0,0,1-1.24-1.933V32.339a2.127,2.127,0,0,1,1.24-1.932l.093,1.061a.805.805,0,0,0,.8.735l.072,0a.805.805,0,0,0,.731-.873l-.09-1.036a2.133,2.133,0,0,1,1.546,2.047M38.905,51.228l-.466,1a3.758,3.758,0,0,0-4.193,1.746L32.407,57.16A3.741,3.741,0,0,0,32.47,61l-.823.665a3.727,3.727,0,0,0-2.458-.925H25.509a3.721,3.721,0,0,0-2.432.9L22.284,61a3.747,3.747,0,0,0,.063-3.844l-1.84-3.187a3.758,3.758,0,0,0-4.193-1.746l-.466-1a3.747,3.747,0,0,0,1.61-4.127l-.952-3.554a3.759,3.759,0,0,0-3.271-2.757l-.1-1.176a3.749,3.749,0,0,0,2.705-3.595V32.339a3.746,3.746,0,0,0-2.705-3.593l.1-1.178a3.755,3.755,0,0,0,3.271-2.755l.952-3.554a3.746,3.746,0,0,0-1.61-4.127l.466-1a3.689,3.689,0,0,0,.942.121,3.806,3.806,0,0,0,.978-.129,3.718,3.718,0,0,0,2.273-1.74l1.84-3.187a3.71,3.71,0,0,0,.37-2.837,3.776,3.776,0,0,0-.432-1.006l.793-.643a3.722,3.722,0,0,0,2.432.9h3.679a3.721,3.721,0,0,0,2.458-.926l.823.666a3.739,3.739,0,0,0-.063,3.843l1.839,3.187a3.721,3.721,0,0,0,2.273,1.74,3.809,3.809,0,0,0,.98.129,3.686,3.686,0,0,0,.94-.121l.466,1a3.748,3.748,0,0,0-1.61,4.127l.953,3.554a3.752,3.752,0,0,0,3.269,2.755l.1,1.178a3.746,3.746,0,0,0-2.706,3.593v3.679a3.748,3.748,0,0,0,2.706,3.595l-.1,1.176a3.756,3.756,0,0,0-3.269,2.757L37.295,47.1a3.748,3.748,0,0,0,1.61,4.127M42.1,18.414a2.115,2.115,0,0,1,.994,1.29l.952,3.554A2.137,2.137,0,0,1,42.97,25.7l-.084-.957a.805.805,0,1,0-1.6.141l.09,1.034a2.214,2.214,0,0,1-.575-.23A2.115,2.115,0,0,1,39.8,24.4l-.954-3.554a2.134,2.134,0,0,1,.746-2.23l.509,1.092a.8.8,0,1,0,1.459-.681l-.417-.895a2.138,2.138,0,0,1,.952.285M35.752,7.133a2.164,2.164,0,0,1,.559.074,2.11,2.11,0,0,1,1.294.989l1.84,3.187a2.135,2.135,0,0,1-.276,2.505l-.4-.856a.8.8,0,1,0-1.459.681l.426.914a2.172,2.172,0,0,1-.8-.059,2.122,2.122,0,0,1-1.294-.989L33.8,10.393a2.128,2.128,0,0,1-.063-2.011l.822.664a.8.8,0,0,0,.505.18.805.805,0,0,0,.507-1.432l-.62-.5a2.1,2.1,0,0,1,.8-.158M23.379,3.874V3.741a2.133,2.133,0,0,1,2.13-2.13h3.679a2.133,2.133,0,0,1,2.13,2.13v.133a2.123,2.123,0,0,1-.047.44l-.839-.678A.806.806,0,0,0,29.42,4.889l.942.761A2.125,2.125,0,0,1,29.189,6H25.509a2.108,2.108,0,0,1-1.142-.336l.965-.78a.805.805,0,0,0-1.012-1.253l-.886.716a2.137,2.137,0,0,1-.056-.478m-8.072,7.509L17.147,8.2a2.117,2.117,0,0,1,1.294-.989A2.166,2.166,0,0,1,19,7.133a2.107,2.107,0,0,1,.8.158l-.622.5a.805.805,0,1,0,1.014,1.251l.82-.664a2.143,2.143,0,0,1,.148.4,2.119,2.119,0,0,1-.209,1.616l-1.84,3.187a2.114,2.114,0,0,1-1.294.989,2.17,2.17,0,0,1-.8.059l.426-.914a.8.8,0,1,0-1.459-.681l-.4.856a2.135,2.135,0,0,1-.276-2.505m-4.385,13.49a2.117,2.117,0,0,1-.216-1.614l.952-3.554A2.138,2.138,0,0,1,13.6,18.131l-.417.893a.806.806,0,0,0,1.46.681l.508-1.092a2.134,2.134,0,0,1,.746,2.23L14.95,24.4a2.12,2.12,0,0,1-.994,1.29,2.222,2.222,0,0,1-.576.23l.09-1.034a.805.805,0,1,0-1.6-.141l-.084.957a2.118,2.118,0,0,1-.861-.825M9.834,36.019V32.339a2.133,2.133,0,0,1,1.546-2.047l-.09,1.036a.805.805,0,0,0,.731.873l.072,0a.805.805,0,0,0,.8-.735l.093-1.061a2.128,2.128,0,0,1,1.241,1.932v3.679a2.131,2.131,0,0,1-1.241,1.933l-.093-1.062a.805.805,0,0,0-1.6.141l.09,1.034a2.133,2.133,0,0,1-1.546-2.047m2.819,13.925a2.116,2.116,0,0,1-.994-1.29L10.707,45.1a2.131,2.131,0,0,1,1.076-2.44l.084.957a.805.805,0,0,0,.8.735.661.661,0,0,0,.072,0,.8.8,0,0,0,.731-.873l-.09-1.033a2.144,2.144,0,0,1,1.57,1.52l.952,3.554a2.132,2.132,0,0,1-.746,2.228l-.508-1.091a.806.806,0,1,0-1.46.681l.417.892a2.136,2.136,0,0,1-.952-.283m4.495,10.218-1.84-3.186a2.135,2.135,0,0,1,.276-2.505l.4.856a.8.8,0,0,0,1.459-.681l-.426-.916a2.129,2.129,0,0,1,.243-.014,2.164,2.164,0,0,1,.559.074,2.11,2.11,0,0,1,1.294.989l1.84,3.187a2.128,2.128,0,0,1,.061,2.011l-.82-.665a.806.806,0,1,0-1.014,1.253l.619.5a2.13,2.13,0,0,1-2.652-.9m14.172,4.323v.132a2.132,2.132,0,0,1-2.13,2.13H25.509a2.132,2.132,0,0,1-2.13-2.13v-.132a2.137,2.137,0,0,1,.056-.478l.886.716a.805.805,0,1,0,1.012-1.253l-.965-.781a2.119,2.119,0,0,1,1.142-.334h3.679a2.114,2.114,0,0,1,1.173.354l-.942.761a.806.806,0,0,0,1.014,1.253l.839-.679a2.136,2.136,0,0,1,.047.441m8.127-7.509-1.84,3.186a2.13,2.13,0,0,1-2.652.9l.619-.5a.805.805,0,0,0-1.012-1.253l-.822.665a2.128,2.128,0,0,1,.063-2.011l1.839-3.187a2.117,2.117,0,0,1,1.294-.989,2.166,2.166,0,0,1,.56-.074,2.124,2.124,0,0,1,.242.014l-.426.916a.8.8,0,1,0,1.459.681l.4-.856a2.135,2.135,0,0,1,.276,2.505m4.385-13.491a2.113,2.113,0,0,1,.216,1.614l-.952,3.554a2.112,2.112,0,0,1-.994,1.29,2.136,2.136,0,0,1-.951.283l.415-.892a.8.8,0,1,0-1.459-.681L39.6,49.745a2.132,2.132,0,0,1-.746-2.228l.954-3.554a2.108,2.108,0,0,1,.994-1.29,2.169,2.169,0,0,1,.575-.23l-.09,1.033a.8.8,0,0,0,.731.873.679.679,0,0,0,.072,0,.805.805,0,0,0,.8-.735l.084-.957a2.118,2.118,0,0,1,.861.825m21.121,2.073a10.471,10.471,0,1,0,10.47,10.472,10.482,10.482,0,0,0-10.47-10.472m0,19.868a9.4,9.4,0,1,1,9.4-9.4,9.407,9.407,0,0,1-9.4,9.4M77.825,55.042a12.91,12.91,0,0,0-1.531-5.922.486.486,0,0,0-.033-.051l-4.248-8.043a1.5,1.5,0,0,0-1.331-.8H59.212a1.5,1.5,0,0,0-1.331.8l-4.463,8.45a.587.587,0,0,0-.04.1A12.876,12.876,0,0,0,64.952,68.09h.094A12.913,12.913,0,0,0,77.825,55.042m-4.457,8.423a11.789,11.789,0,0,1-20.215-8.248,11.827,11.827,0,0,1,1.4-5.577.571.571,0,0,0,.03-.064l4.25-8.049a.431.431,0,0,1,.381-.23H70.683a.431.431,0,0,1,.381.23l4.464,8.451.005.01a11.845,11.845,0,0,1,1.217,5.067,11.721,11.721,0,0,1-3.383,8.41M90.052,78.581a193.2,193.2,0,0,0-21.128-1.293H68.6a99.5,99.5,0,0,0-13.531.913,9.191,9.191,0,0,0-4.79,2.07c-.085.069-.182.145-.287.222a7.93,7.93,0,0,1-9.317,0c-.108-.077-.205-.153-.287-.222A9.2,9.2,0,0,0,35.6,78.2a99.541,99.541,0,0,0-13.533-.913h-.32A193.264,193.264,0,0,0,.618,78.581.711.711,0,0,0,0,79.328l.7,10.9a.7.7,0,0,0,.387.586l2.594,1.3c.63.316,1.242,1.859,1.57,2.687.044.116.088.226.129.325,1.388,3.427,4.214,9.484,7.539,11.561,2.035,1.271,5.922,2.031,10.4,2.031,5.315,0,9.607-1.051,11.477-2.812,2.791-2.623,6.418-11.226,7.578-15.1.315-1.049,1.146-1.468,2.958-1.493,1.817.025,2.646.444,2.961,1.493,1.161,3.875,4.787,12.479,7.577,15.1,1.873,1.761,6.164,2.812,11.479,2.812,4.479,0,8.366-.76,10.4-2.031a15.679,15.679,0,0,0,4.636-5.517,50.37,50.37,0,0,0,2.9-6.044c.04-.1.084-.209.129-.325.329-.828.939-2.371,1.569-2.687l2.594-1.3a.7.7,0,0,0,.388-.586l.7-10.9a.709.709,0,0,0-.617-.747M34.77,101.229a8.889,8.889,0,0,1-5.95,4.036,31.2,31.2,0,0,1-11.33.013,9.847,9.847,0,0,1-6.825-5.086c-4.966-9.434-3.574-14.77-.219-16.98,1.165-.806,16.714-5.013,25.526.7a5.46,5.46,0,0,1,1.481,1.405c3.336,4.7-.152,11.863-2.684,15.916m44.425,0a8.889,8.889,0,0,1-5.95,4.036,31.2,31.2,0,0,1-11.33.013,9.84,9.84,0,0,1-6.823-5.086c-4.967-9.434-3.575-14.77-.221-16.98,1.165-.806,16.714-5.013,25.526.7a5.46,5.46,0,0,1,1.481,1.405c3.337,4.7-.152,11.863-2.684,15.916M18.419,87.589a.707.707,0,0,1,1.071.922l-4.647,5.4a.7.7,0,0,1-.537.246.7.7,0,0,1-.534-1.166l4.647-5.4M16.69,85.043a.708.708,0,0,1,.074,1l-4.647,5.4a.707.707,0,0,1-1.071-.923l4.647-5.4a.706.706,0,0,1,1-.074m47.023,2.471a.707.707,0,0,1,.073,1l-4.647,5.4a.707.707,0,0,1-1.071-.923l4.647-5.4a.71.71,0,0,1,1-.074m-2.726-2.471a.708.708,0,0,1,.074,1l-4.647,5.4a.707.707,0,0,1-1.071-.923l4.647-5.4a.706.706,0,0,1,1-.074" transform="translate(0 -0.001)" fill="#fff"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Yas banner coll look",
    "class": "yas_banner_coll_look",
    "settings": [
      {
            "type": "text",
            "id": "title",
            "label": "Title section",
            "default": "looks great on you."
      }
    ],
    "presets": [
      {
        "name": "Yas banner coll look"
      }
    ]
  }
{% endschema %}

{% comment %}
Если нужно будет что б через кастомайз добавляли уберали.
    "blocks": [
      {
        "type": "image",
        "name": "Image variant",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
    ]
{% endcomment %}    
          
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}